---
layout: subpage
title: Resources | UNDP Global Fund Implementation Guidance Manual | United Nations Development Programme
subtitle: Resources
menutitle: Resources
permalink: /resources.html
date: "2019-04-12T00:00:00+02:00"
nonav: true
---

<div id="main-wrapper" class="row search-result resources-page">
  <div class="container" style="margin-top:20px;">
    <h1>Resource Repository</h1>
  </div>
  <div class="container">
    <div class="row rec-holder">
      <div class="col-md-3">
        <div id="tree" class="treeview">
          <ul class="list-group">
            <li class="list-group-item node-tree rec-toggle" data-nodeid="0"
              style="color:undefined;background-color:undefined;">
              <span class="toggle-icon fas fa-minus"></span>
              <span class="toggle-icon fas fa-plus"></span>
              <span class="icon node-icon"></span>
              <div>Functional Area</div>
              <span class="badge badge-secondary">734</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="1"
              data-areaname="Audit and Investigations">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Audit and Investigations</div>
              <span class="badge badge-secondary">24</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="2"
              data-areaname="Capacity Development">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Capacity Development</div>
              <span class="badge badge-secondary">111</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="3"
              data-areaname="Financial Management">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Financial Management</div>
              <span class="badge badge-secondary">98</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="4" data-areaname="Human Resources">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Human Resources</div>
              <span class="badge badge-secondary">18</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="5"
              data-areaname="Human Rights, Key Populations and Gender">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Human Rights, Key Populations and Gender</div>
              <span class="badge badge-secondary">49</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="6" data-areaname="Legal Framework">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Legal Framework</div>
              <span class="badge badge-secondary">49</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="7"
              data-areaname="Monitoring and Evaluation">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Monitoring and Evaluation</div>
              <span class="badge badge-secondary">36</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="8"
              data-areaname="Procurement and Supply Management">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Procurement and Supply Management</div>
              <span class="badge badge-secondary">365</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="9" data-areaname="Risk Management">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Risk Management</div>
              <span class="badge badge-secondary">24</span>
            </li>
            <li class="list-group-item node-tree sub-node funcarea" data-nodeid="10"
              data-areaname="Sub-recipient Management">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Sub-recipient Management</div>
              <span class="badge badge-secondary">41</span>
            </li>
            <li class="list-group-item node-tree rec-toggle" data-nodeid="11" data-areaname="Project Stage">
              <span class="toggle-icon fas fa-minus"></span>
              <span class="toggle-icon fas fa-plus"></span>
              <span class="icon node-icon"></span>
              <div>Project Stage</div>
              <span class="badge badge-secondary">344</span>
            </li>
            <li class="list-group-item node-tree sub-node pstage" data-nodeid="12" data-areaname="Grant Closure">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Grant Closure</div>
              <span class="badge badge-secondary">18</span>
            </li>
            <li class="list-group-item node-tree sub-node pstage" data-nodeid="13" data-areaname="Grant Implementation">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Grant Implementation</div>
              <span class="badge badge-secondary">268</span>
            </li>
            <li class="list-group-item node-tree sub-node pstage" data-nodeid="14"
              data-areaname="Grant Making and Signing">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Grant Making and Signing</div>
              <span class="badge badge-secondary">50</span>
            </li>
            <li class="list-group-item node-tree sub-node pstage" data-nodeid="15" data-areaname="PR Start-up">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>PR Start-up</div>
              <span class="badge badge-secondary">30</span>
            </li>
            <li class="list-group-item node-tree sub-node pstage" data-nodeid="16" data-areaname="Reporting">
              <span class="indent"></span>
              <span class="icon glyphicon"></span>
              <span class="icon node-icon"></span>
              <div>Reporting</div>
              <span class="badge badge-secondary">20</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 repo-search-result" id="repo-search-result">
        <div class="spinner" style="display: none;">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="container container-recs">
          <div class="panel-group" id="topic-accordion" role="tablist" aria-multiselectable="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>