---
layout: subpage
title: Search | UNDP Global Fund Implementation Guidance Manual | United Nations Development Programme
subtitle: Search
menutitle: Search
permalink: /search.html
date: "2019-04-12T00:00:00+02:00"
nonav: true
---

<div class="container" style="margin-top: 20px;">
<div class="row">
<div class="search-bar" style="margin-left:10€;padding: 10px 20px;width:95%;">
<div class="input-group stylish-input-group">
<input type="text" class="form-control" placeholder="Search" id="search">
<span class="input-group-addon">
<button type="submit" id="btn-search">
<span class="glyphicon glyphicon-search">
</button>

</div>
<span style="font-size: 12px; font-style: italic;float: right; margin-top: 5px;margin-bottom: 5px;">Click <a
href="/list-of-commonly-used-acronyms/" target="_blank">here</a> for a list of commonly used
acronyms
<div class="panel panel-default" style="margin-top:20px;clear: both;">
<div class="panel-heading collapsed" data-toggle="collapse" data-target="#filters"
style="cursor:pointer" aria-expanded="false">
<h4 class="panel-title">Filters</h4>
</div>
<div id="filters" class="panel-body collapse" aria-expanded="false" style="height: 30px;">
<select class="selectpicker" multiple data-live-search="true" id="filter-functionalarea"
data-id="Category">
<option>Audit and Investigations</option>
<option>Capacity Development</option>
<option>Financial Management</option>
<option>Human Resources</option>
<option>Human Rights, Key Populations and Gender</option>
<option>Legal Framework</option>
<option>Monitoring and Evaluation</option>
<option>Procurement and Supply Management</option>
<option>Sub-recipient Management</option>
</select>
<select class="selectpicker" multiple data-live-search="true" id="filter-projectstage"
data-id="ProjectStage">
<option>Grant Closure</option>
<option>Grant Implementation</option>
<option>Grant Making and Signing</option>
<option>PR Start-up</option>
<option>Reporting</option>
</select>
<select class="selectpicker" multiple data-live-search="true" placeholder="Topic" id="filter-topic"
data-id="Topic">
<option>Agreements with sub-recipients</option>
<option>Asset management</option>
<option>CCM Funding</option>
<option>Challenging operating environments</option>
<option>Crisis response</option>
<option>Critical enablers</option>
<option>Disbursement management</option>
<option>Expense management</option>
<option>Expert rosters</option>
<option>Financial and risk management systems</option>
<option>Financial closure</option>
<option>Financial reporting</option>
<option>Financial rules and regulations</option>
<option>Functional capacities</option>
<option>Gender</option>
<option>General project implementation</option>
<option>Global Fund access to funding</option>
<option>Global Fund M&amp;E system requirements</option>
<option>Global Fund structure and actors</option>
<option>Grant agreement</option>
<option>Grant closure</option>
<option>Health systems strengthening</option>
<option>Human rights and the law</option>
<option>Implementation and payment modalities</option>
<option>Implementation arrangements mapping</option>
<option>Initiating a project</option>
<option>Insurance coverage</option>
<option>Intellectual property rights and disclosure of information</option>
<option>Inventory management</option>
<option>Key populations</option>
<option>Knowledge sharing</option>
<option>Legal framework for UNDP non-PR support roles</option>
<option>M&amp;E policies and guidance</option>
<option>Managing sub-recipients</option>
<option>Names, logos and other markings</option>
<option>OAI audit and investigations</option>
<option>OIG audit</option>
<option>Patent issues</option>
<option>Payment of incentives to government staff</option>
<option>Performance evaluation</option>
<option>Performance indicators</option>
<option>Policy framework</option>
<option>PR capacity assessment (CAT)</option>
<option>Prefinancing</option>
<option>Price and Quality Reporting</option>
<option>Principal Recipient audit</option>
<option>Procurement of non-health products</option>
<option>Procurement of other health products</option>
<option>Procurement of pharmaceutical products</option>
<option>Procurement planning</option>
<option>Programming to strengthen the enabling environment</option>
<option>Progress update and disbursement request (PUDR)</option>
<option>Project document</option>
<option>Project governance and programme management</option>
<option>Project set-up</option>
<option>PSM and capacity development</option>
<option>Quality assurance</option>
<option>Quality control</option>
<option>Recruitment and management of the PMU</option>
<option>Reporting to the Global Fund</option>
<option>Resource planning and cost recovery</option>
<option>Revenue management</option>
<option>Selecting and engaging sub-recipients</option>
<option>Solar4health</option>
<option>Storage and distribution</option>
<option>Sub-recipient audit</option>
<option>Technical support and guidance</option>
<option>The capacity development process</option>
<option>Transition</option>
<option>UNDP Global Fund corporate communications</option>
<option>Value for money</option>
</select>
<select class="selectpicker" multiple data-live-search="true" id="filter-doctype" data-id="Doctype">
<option>Excel</option>
<!-- <option>Image</option> -->
<option>PDF</option>
<option>PPT</option>
<option>Word</option>
<!-- <option>Umbraco Page</option> -->
<!-- <option>Website</option>
<option>Website - POPP</option> -->
</select>
<select class="selectpicker" multiple data-live-search="true" id="filter-resourcetype"
data-id="Type">
<option>Contacts</option>
<option>Database or catalogue</option>
<option>Examples of best practice and knowledge sharing</option>
<option>General information</option>
<option>Legal Agreements</option>
<option>Long Term Agreements</option>
<option>Policies, procedures and guidance</option>
<option>Templates</option>
<option>Tracking tools</option>
<option>Training and workshop materials</option>
<option>UNDP Global Fund corporate communications</option>
<option>Vendor forms</option>
</select>
</div>
</div>
</div>
</div>
</div>