---
layout: default
menutitle: Home
navhome: true
---

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
<div class="home">
    <section class="intro-box">
        <div class="container container-home">
            <div class="row">
                <div class="home-search col-12 col-md-6 offset-md-3">
                    <div class="input-group" style="border:1px solid #2e99e6;border-radius: 4px;">
                        <input type="text" class="form-control" placeholder="Search content and resources"
                            id="search" />
                        <span class="input-group-btn">
                            <button class="btn icon-s" id="btn-search" type="button"></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 3px;">
                            <a class="globalFooterCard" href="/the-partnership/about-undp/">
                                <svg viewBox="0 0 80 80" width="50px" height="50px">
                                    <path class="hover-filling" fill="#2e99e6"
                                        d="M487.678,437.284l-7.42-15.318a1.464,1.464,0,0,0-1.921-.658l-6.324,3.094a1.508,1.508,0,0,0-.751.866,1.531,1.531,0,0,0,.091,1.044l7.084,14.424-2.015,1.864a29.537,29.537,0,0,1-6.8,4.639l-12.062,5.9a0.7,0.7,0,0,1-.5.054,0.8,0.8,0,0,1-.375-0.266,0.691,0.691,0,0,1-.055-0.5,0.761,0.761,0,0,1,.3-0.39l6.759-3.311a1.432,1.432,0,1,0-1.262-2.571l-9.919,4.882a0.6,0.6,0,0,1-.457.034,0.6,0.6,0,0,1-.379-0.754,0.581,0.581,0,0,1,.288-0.336l9.767-4.781a1.432,1.432,0,1,0-1.261-2.572l-8.98,4.388-1.881.912a0.7,0.7,0,0,1-.5.055,0.811,0.811,0,0,1-.376-0.266,0.687,0.687,0,0,1-.054-0.5,0.757,0.757,0,0,1,.3-0.39L458.892,442a1.432,1.432,0,1,0-1.259-2.573l-8.684,4.217a0.694,0.694,0,0,1-.5.054,0.814,0.814,0,0,1-.377-0.266,0.693,0.693,0,0,1-.054-0.5,0.768,0.768,0,0,1,.3-0.389l4.638-2.227a1.447,1.447,0,0,0,.669-1.893,1.36,1.36,0,0,0-.823-0.751,1.518,1.518,0,0,0-1.1.071l-4.626,2.22a3.409,3.409,0,0,0-1.786,1.966,3.25,3.25,0,0,0,.188,2.667,3.53,3.53,0,0,0,.7.951,2.944,2.944,0,0,0-.288.614,3.231,3.231,0,0,0,.18,2.653,3.41,3.41,0,0,0,1.985,1.782,3.749,3.749,0,0,0,.657.155,3.191,3.191,0,0,0,.3,1.16,3.5,3.5,0,0,0,4.639,1.6l0.1-.047a3.02,3.02,0,0,0,.216.564,3.42,3.42,0,0,0,1.985,1.781,3.6,3.6,0,0,0,1.138.188,3.419,3.419,0,0,0,1.529-.376l12.095-5.913a31.163,31.163,0,0,0,7.476-5.071l2.671-2.447,6.15-3.008A1.448,1.448,0,0,0,487.678,437.284Zm-3.031.028-3.789,1.842-6.319-12.832,3.789-1.842Zm-33.709-10.986,0.642-.319a3.125,3.125,0,0,1,2.241-.144l11.807,4.075a1.623,1.623,0,0,1-.541.744,2.081,2.081,0,0,1-1.895-.063l-5.387-1.818a1.489,1.489,0,0,0-1.209.053,1.332,1.332,0,0,0-.7.949,6.774,6.774,0,0,1-2.906,3.832,6.519,6.519,0,0,1-5.273.076,1.441,1.441,0,1,0-.921,2.73,9.169,9.169,0,0,0,7.534-.246,8.79,8.79,0,0,0,3.8-4.215l4.146,1.425a4.788,4.788,0,0,0,4.47-.331,5.241,5.241,0,0,0,1.963-3.991,1.493,1.493,0,0,0-.9-1.38L454.8,423.24a5.723,5.723,0,0,0-4.413.3l-0.643.32A3.12,3.12,0,0,1,447.5,424l-1.017-.355c-0.031-.019-0.048-0.023-0.048-0.017l-6.88-2.408a1.538,1.538,0,0,0-1.051.091,1.479,1.479,0,0,0-.74.823l-5.68,16.1a1.533,1.533,0,0,0,.092,1.048,1.722,1.722,0,0,0,.829.736l6.586,2.252a1.157,1.157,0,0,0,.551.108,1.278,1.278,0,0,0,.6-0.161,1.475,1.475,0,0,0,.74-0.826l5.113-14.8A5.715,5.715,0,0,0,450.938,426.326Zm-7.014-.733-4.688,13.544-3.961-1.358,4.688-13.544Z"
                                        transform="translate(-419.922 -398.578)"></path>
                                </svg>
                                <h3>The UNDP-Global Fund Partnership</h3>
                                <span class="arrow"></span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 3px;">
                            <a class="globalFooterCard" href="/purpose">
                                <svg viewBox="0 0 80 80" width="50px" height="50px">
                                    <path class="hover-filling" fill="#2e99e6"
                                        d="M814,418H786v42h3.155V440.988H814l-7.671-11.5Zm-24.847,3.151h18.953l-5.568,8.345,5.568,8.344H789.154V421.148Z"
                                        transform="translate(-760 -399)"></path>
                                </svg>
                                <h3>Purpose of the Manual</h3>
                                <span class="arrow"></span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 3px;">
                            <a class="globalFooterCard" href="/how-to-use-the-manual">
                                <svg viewBox="0 0 80 80" width="50px" height="50px">
                                    <path class="hover-filling" fill="#2e99e6"
                                        d="M1154.46,420.993a3.318,3.318,0,0,1,3.34,3.286v32.726h-24.55a3.318,3.318,0,0,1-3.34-3.287V420.993h24.55m0-3h-27.59v35.721a6.334,6.334,0,0,0,6.38,6.282h27.59V424.279a6.334,6.334,0,0,0-6.38-6.282h0Zm-2.58,34.365h-16.05v-3h16.05v3Zm0-5.991h-16.05v-3h16.05v3Zm0-6.158h-16.05v-3h16.05v3Z"
                                        transform="translate(-1103.86 -399)"></path>
                                </svg>
                                <h3>How to use the Manual</h3>
                                <span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="lifecycle">
    <div class="container">
        <div class="row row-centered">
            <h1>Project Lifecycle</h1>
            <!--p class="col-md-6 col-centered">
              Proin ornare ligula eu tellus tempus elementum. Aenean bibendum iaculis mi, nec blandit lacus interdum vitae. Vestibulum non nibh risus, a scelerisque purus. Ut vel arcu ac tortor adipiscing hendrerit.
          </p-->
        </div>
        <div class="row row-centered">
            <!--a href="#" class="button b-gray cta">explore</a-->
        </div>
        <div class="row row-centered">
            <div class="steps">
                <ul>
                    <li class="s-01">
                        <a href="/project-lifecycle/#s-01">
                            <p>Funding<br />Request</p>
                        </a>
                    </li>
                    <li class="s-02">
                        <a href="/project-lifecycle/#s-02">
                            <p>
                                PR Start-up<br />
                                &nbsp;
                            </p>
                        </a>
                    </li>
                    <li class="s-03">
                        <a href="/project-lifecycle/#s-03">
                            <p>Grant-Making <br />and Signing</p>
                        </a>
                    </li>
                    <li class="s-04">
                        <a href="/project-lifecycle/#s-04">
                            <p>Grant <br />Implementation</p>
                        </a>
                    </li>
                    <li class="s-05">
                        <a href="/project-lifecycle/#s-05">
                            <p>Reporting<br />&nbsp;</p>
                        </a>
                    </li>
                    <li class="s-06">
                        <a href="/project-lifecycle/#s-06">
                            <p>Grant <br />Closure</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="f-areas" style="background-color:#f6f9fc;">
    <div class="container">
        <div class="row row-centered">
            <h1>Functional Areas</h1>
        </div>
        <div class="row row-centered">
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/legal-framework/overview">
                    <span class="icon-m ic-001"></span>
                    <h3>Legal<br />Framework</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/procurement-and-supply-management/overview">
                    <span class="icon-m ic-002"></span>
                    <h3>Procurement and<br />Supply Management</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/financial-management/overview">
                    <span class="icon-m ic-003"></span>
                    <h3>Financial<br />Management</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/monitoring-and-evaluation/overview">
                    <span class="icon-m ic-008"></span>
                    <h3>Monitoring<br />and Evaluation</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1"
                    href="/functional-areas/sub-recipient-management/sub-recipient-management-in-grant-lifecycle/">
                    <span class="icon-m ic-005"></span>
                    <h3>Sub-recipient<br />Management</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/capacity-development/overview/">
                    <span class="icon-m ic-004"></span>
                    <h3>Capacity<br />Development</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/risk-management/overview">
                    <span class="icon-m ic-006"></span>
                    <h3>Risk<br />Management</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1"
                    href="/functional-areas/audit-and-investigations/principal-recipient-audit/principal-recipient-audit-approach/">
                    <span class="icon-m ic-007"></span>
                    <h3>Audit and<br />Investigations</h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1"
                    href="/functional-areas/human-rights-key-populations-and-gender/objective-of-this-section/">
                    <span class="icon-m ic-009"></span>
                    <h3>
                        Human Rights,<br />Key Populations <br />
                        and Gender
                    </h3>
                </a>
            </div>
            <div class="col-md-2dot4 col-6 col-sm-4 col-centered">
                <a class="globalFooterCard1" href="/functional-areas/human-resources/overview/">
                    <span class="icon-m ic-010"></span>
                    <h3>Human<br />Resources</h3>
                </a>
            </div>
        </div>
    </div>
</div>