<div class="container innogrid">
    <div class="row">
        <div class="col-sm-12 col-md-6 innoitem bbottom bright">
            <h2>Digitizing the last-mile</h2>
            <hr />
            <div class="innoimg">
                <img src="/images/about/blood-tests.jpg">
                <p>
                    In 2015, India launched eVIN, or electronic vaccine intelligence network, an easy to
                    use mobile and cloud-based technology that enables last mile management of supply chain.
                </p>        
            </div>
            <a href="" class="blue-button">Read more</a>
        </div>
        <div class="col-sm-12 col-md-6 innoitem bbottom">
            <h2>Service Delivery</h2>
            <hr />
            <div class="innoimg">
                <img src="/images/about/diagnosing-malaria.jpg">
                <p>
                    UNDP support in implementing eVIN goes beyond just the technology in addressing the three
                    ingredients critical to any successful service delivery transformation:
                    people, processes and technology.
                </p>
            </div>
            <a href="" class="blue-button">Read more</a>
        </div>
        <div class="col-sm-12 col-md-6 innoitem bbottom bright">
            <h2>Innovation Underpinning Sustainability</h2>
            <hr />
            <div class="innoimg">
                <img src="/images/about/hospital-sister.jpg">
                <p>
                    UNDP uses innovation to create social value in health where it can help save lives and lower costs.
                </p>
            </div>
            <a href="" class="blue-button">Read more</a>
        </div>
        <div class="col-sm-12 col-md-6 innoitem bbottom">
            <h2>Sustainable Procurement for Health</h2>
            <hr />
            <div class="innoimg">
                <img src="/images/about/local-health-clinic.jpg">
                <p>
                    UNDP is taking a practical approach for the implementation of sustainability initiatives e.g. reducing
                    transport emissions and packaging waste. 
                </p>
            </div>
            <a href="" class="blue-button">Read more</a>
        </div>
        <div class="col-sm-12 col-md-6 innoitem bright">
            <h2>Solar for Health</h2>
            <hr />
            <div class="innoimg">
                <img src="/images/about/NGO-working-with-hiv.jpg">
                <p>
                    A recent review by WHO shows between a quarter and a third of health facilities
                    lacking a reliable supply of power.
                </p>
            </div>
            <a href="" class="blue-button">Read more</a>
        </div>
        <div class="col-sm-12 col-md-6 innoitem">
            <h2>Toolkit for Health</h2>
            <hr />
            <div class="innoimg">
                <img src="/images/about/pharmacist.jpg">
                <p>
                    The UNDP Capacity Development Toolkit is an online platform and global resource for
                    capacity development for resilient and sustainable systems for health.
                </p>
            </div>
            <a href="" class="blue-button">Read more</a>
        </div>
    </div>
</div>

