<div class="breadcrumb-opa"></div>
<div class="container breadcrump-holder">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb breadcrumb-text">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                {% capture page_url_without_index_html %}{{ page.url }}{% endcapture %}
                {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
                {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
                {% for i in (1..forLoopMaxInt) %}
                    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
                    {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
                    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
                    {% for breadcrumb_page in site.pages %}
                        {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                        {% assign j = forLoopMaxInt | plus: 0 %}
                            <li {% if i == j %}class="active"{% endif %}>
                                {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url }}{% endcapture %}
                                <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.menutitle}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ol>
        </div>
    </div>
</div>