<div class="casestudy-box">
    <div class="casestudy-title">
        <span class="case-study">Case Study</span>
        <span class="case-title">{{ include.title }}</span>
    </div>
    <div class="section-toggle-container content-block">
        {% if include.intro %}
            <div class="left-block">
                {{ include.intro }}
            </div>
        {% endif %}
        {% if include.content %}
            {% if include.intro %}
            <div class="right-block">
                <span class="section-more-link blue-button big-blue">Show more</span>
                <span class="section-less-link blue-button big-blue">Show less</span>
            </div>
            {% endif %}
            <div class="{% if include.intro %}section-more-toggle {% endif %}toggle-content">
                {{ include.content }}
            </div>
        {% endif %}
    </div>
</div>