<div class="container proc-page-top cd-nav-holder">
    <div class="row">
        <div class="col-sm-12 col-md-8 procdesc {% if include.large %}large-desc{% endif %}">
            <p> 
                {{ include.procdesc }}
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="psm-circ-nav-small">
                <div class="psm-nav-1 {% if include.pr1 %}highlight{% endif %}"><a href="/en/capacities/capacity-development-process/1-scoping-and-design-of-the-capacity-development-planning-process">Scoping & Design</a></div>
                <div class="psm-nav-2 {% if include.pr2 %}highlight{% endif %}"><a href="/en/capacities/capacity-development-process/2-participatory-capacity-development-assessment-and-planning/">Capacity Assessment</a></div>
                <div class="psm-nav-3 {% if include.pr3 %}highlight{% endif %}"><a href="/en/capacities/capacity-development-process/3-preparing-a-draft-capacity-development-plan">Preparing a Plan</a></div>
                <div class="psm-nav-4 {% if include.pr4 %}highlight{% endif %}"><a href="/en/capacities/capacity-development-process/4-stakeholder-review-and-finalising-the-plan">Stakeholder review</a></div>
                <div class="psm-nav-5 {% if include.pr5 %}highlight{% endif %}"><a href="/en/capacities/capacity-development-process/5-implementation-and-monitoring-of-the-capacity-development-plan">Implemen<br/>tation</a></div>
                <div class="psm-nav-6 {% if include.pr6 %}highlight{% endif %}"><a href="/en/capacities/capacity-development-process/6-evaluating-the-capacity-development-plan">Evaluation</a></div>
            </div>            
        </div>
    </div>
</div>
