<div class="casestudy-box country-example">
    <div class="casestudy-title">
        <span class="case-title country-example-title">{{ include.title }}</span>
    </div>
    <div class="section-toggle-container content-block">
        {% if include.intro %}
            <div class="left-block">
                {{ include.intro }}
            </div>
            <div class="right-block">
                <span class="section-more-link blue-button big-blue">Show more</span>
                <span class="section-less-link blue-button big-blue">Show less</span>
            </div>
            <div class="section-more-toggle toggle-content">
                {{ include.content }}
            </div>
        {% else %}
        <div class="toggle-content">
            {{ include.content }}
        </div>    
        {% endif %}
    </div>
</div>