<a name="milestones"></a>
<div class="casestudy-box explanation">
    <div class="casestudy-title">
        <span class="case-study bulb-icon"><img src="/images/icons/icons8-greentech-80.png" /></span>
        <span class="case-title bulb-title">{{ include.title }}</span>
    </div>
    <div class="section-toggle-container content-block">
        <div class="left-block">
            {{ include.intro }}
        </div>
        {% if include.content %}
        <div class="right-block">
            <span class="section-more-link blue-button big-blue">Show more</span>
            <span class="section-less-link blue-button big-blue">Show less</span>
        </div>
        <div class="section-more-toggle toggle-content">
            {{ include.content }}
        </div>
        {% endif %}
    </div>
</div>