<div class="row">
    <div class="col-sm-12 col-md-7 fin-nav-desc {{ include.class }}">
        <p> 
            {{ include.procdesc }}
        </p>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="finances-top-holder fin-nav-subnav">
            <div class="finances-circ-nav">
                <div class="fin-nav-1 {% if include.pr1 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/1-planning">Planning</a></div>
                <div class="fin-nav-2 {% if include.pr2 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/2-budgeting-and-forecasting">Budgeting and forecasting</a></div>
                <div class="fin-nav-3 {% if include.pr3 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/3-revenue-generation">Revenue generation</a></div>
                <div class="fin-nav-4 {% if include.pr4 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/4-expenditure">Expenditure</a></div>
                <div class="fin-nav-5 {% if include.pr5 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/5-monitoring-and-routine-controls">Monitoring</a></div>
                <div class="fin-nav-6 {% if include.pr6 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/6-reporting">Reporting</a></div>
                <div class="fin-nav-7 {% if include.pr7 %}highlight{% endif %}"><a href="/en/capacities/focus/financial-management/7-audit-and-assurance">Audit and assurance</a></div>
            </div>
        </div>
    </div>
</div>