<div class="para-toggle-container gfbox innobox{% if include.large %} innolarge{% endif %}">
    <div class="gftitle">
        <span><b>{{ include.title }}</b></span>
    </div>
    <div class="para-more-container gfbox-content">
        <div class="gf-intro">{{ include.text }}</div>
        {% if include.link %}
        <a href="{{ include.link }}" class="blue-button">Read more</a>
        {% endif %}
    </div>
</div>