<div class="para-toggle-container gfbox-large" style="{% if include.margin %}margin: {{include.margin}}{% endif %}">
    <div class="gftitle">
        <img src="/images/logos/thumb-global-fund_en.jpg">
    </div>
    <div class="para-more-container gfbox-content">
        <div class="gf-intro">{{ include.para1 }}</div>
        {% if include.para2 %}
        <span class="para-more-link blue-button gf-more-link">Show more</span>
        <div class="para-more-toggle gf-more-toggle">
            {{ include.para2 }}
            {% if include.list %}
                <span class="hidden-list">{{ include.list }}</span>
                <ol class="visible-list"><li></li></ol>
            {% endif %}
        </div>
        <span class="para-less-link blue-button gf-less-link">Show less</span>
        {% endif %}
    </div>
</div>