<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115799862-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-115799862-1');
  </script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.css" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  {% if page.pagetype == 'story' %}
  <link rel="stylesheet" href="{{ "/css/story.css" | prepend: site.baseurl }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/bootstrap-lightbox.min.css" | prepend: site.baseurl }}">
  {% if null %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <link rel="apple-touch-icon" href="/images/icons/xapple-icon-180x180.png.pagespeed.ic.TlYCuUHrfv.webp">
  <link rel="icon" type="image/png" sizes="192x192"
    href="/images/icons/xhighres-icon-192x192.png.pagespeed.ic.C6wDYiADql.webp">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <meta property="fb:app_id" content="278092526356323" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{site.baseurl}}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />

  {% if page.socialimg %}
  <meta property="og:image" content="{{ site.url }}{{site.baseurl}}{{ page.socialimg }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}{{site.baseurl}}/images/faqtop-hospital-sister2.jpg">
  {% endif %}
  {% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
  {% else %}
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  {% if page.lifecycle %}
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/lifecycle.js"></script>
  {% endif %}

  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- vue spinner styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tb-skeleton@0.3.0/dist/skeleton.css">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@CD2Transform">
  <meta name="twitter:creator" content="@CD2Transform">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{site.baseurl}}{{ page.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.socialimg %}
  <meta name="twitter:image:src" content="{{ site.url }}{{site.baseurl}}{{ page.socialimg }}">
  {% else %}
  <meta name="twitter:image:src" content="{{ site.url }}{{site.baseurl}}/images/faqtop-hospital-sister2.jpg">
  {% endif %}
</head>