<!-- <div id="fb-root"></div> -->
<!-- <script>
    (function (d, s, id) {
        var js,
            fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src =
            "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12";
        fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
</script> -->

<header class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="row">
            <div class="undp-head col-11 col-md-6 col-sm-9 col-xs-8">
                <a class="logolink" href="/"><img
                        src="https://undphealthimplementation.org/images/UNDP-logo.png"
                        alt="UNDP Logo" /></a>
                <a class="title-breadc" href="/">
                    <p>UNDP-Global Fund and Health Implementation</p>
                    <p>Guidance Manual</p>
                </a>
            </div>
            <div class="undp-nav col-1 col-md-6 col-sm-3 col-xs-4">
                <div class="navbar-right">
                    <nav>
                        <ul class="nav nav-pills">
                            {% if page.navhome %}
                            <li>
                                <a href="/resources.html">Resource Repository</a>
                            </li>
                            <li><a href="/whats-new">What's New</a></li>
                            {% else %}
                            {% if page.navfunc %}
                            <li>
                                <a href="/resources.html">Resource Repository</a>
                            </li>
                            <li>
                                <a href="/functional-areas">Functional Areas</a>
                            </li>
                            {% else %}
                            <li><a href="/">Home</a></li>
                            <li>
                                <a href="/project-lifecycle">Grant Lifecycle</a>
                            </li>
                            <li>
                                <a href="/resources.html">Resource Repository</a>
                            </li>
                            {% endif %}
                            {% endif %}

                        </ul>
                    </nav>
                    <!-- /menu -->
                    <!-- /search -->
                    <nav class="">
                        <a class="icon-s menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <span class="input-group-btn top-menu-search">
                            <a href="/search.html">
                                <button class="btn icon-s" id="btn-search" type="button"></button>
                            </a>
                        </span>
                        <ul class="dropdown-menu">
                            <li class="nav-top-item">
                                <a href="/resources.html">Resource Repository</a>
                            </li>
                            <li class="nav-top-item">
                                <a href="/project-lifecycle/">Grant Lifecycle</a>
                            </li>
                            <li class="nav-top-item">
                                <a href="/search.html">Search</a>
                            </li>
                            <li class="nav-top-item-last">
                                <a href="/functional-areas/">Functional Areas</a>
                            </li>
                            <li>
                                <a href="/functional-areas/principal-recipient-start-up/overview/"><span>Principal
                                        Recipient Start-up</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/legal-framework/overview"><span>Legal Framework</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/procurement-and-supply-management/overview"><span>Procurement
                                        and Supply Management</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/financial-management/overview"><span>Financial
                                        Management</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/monitoring-and-evaluation/overview"><span>Monitoring and
                                        Evaluation</span></a>
                            </li>
                            <li>
                                <a
                                    href="/functional-areas/sub-recipient-management/sub-recipient-management-in-grant-lifecycle/"><span>Sub-recipient
                                        Management</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/reporting/overview/"><span>Reporting</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/capacity-development/overview"><span>Capacity
                                        Development</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/risk-management/overview"><span>Risk Management</span></a>
                            </li>
                            <li>
                                <a
                                    href="/functional-areas/audit-and-investigations/principal-recipient-audit/principal-recipient-audit-approach/"><span>Audit
                                        and Investigations</span></a>
                            </li>
                            <li>
                                <a
                                    href="/functional-areas/human-rights-key-populations-and-gender/objective-of-this-section/"><span>Human
                                        Rights</span></a>
                            </li>
                            <li>
                                <a href="/functional-areas/human-resources/overview"><span>Human Resources</span></a>
                            </li>
                            <li class="last-nav-item">
                                <a href="/functional-areas/grant-closure/overview/"><span>Grant Closure</span></a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</header>