<div class="para-toggle-container gfbox innobox{% if include.large %} innolarge{% endif %}">
    <div class="gftitle">
        <img src="/images/icons/icons8-greentech-80.png" />
        <span><b>Innovation{%if include.title %}: {{ include.title }}{% endif %}</b></span>
    </div>
    <div class="para-more-container gfbox-content">
        <div class="gf-intro">{{ include.text }}</div>
        {% if include.link %}
        <a href="{{ include.link }}" class="blue-button">Read more</a>
        {% endif %}
    </div>
</div>