<div class="{%if include.frame %} img-frame {% endif %}{% if include.text %}lightbox-text-float{% endif %}{% if include.large %} light-large{% endif %}{% if include.reverse %} reverse{% endif %}{% if include.solomiddle %} solomiddle lightbox-text-float{% endif %}{% if include.largetext %} light-largetext{% endif %}{%if include.fullwidth %} fullwidth{% endif %}{% if include.largefont %} largefont{% endif %}{%if include.shadebg %} shadebg {% endif %}">
    {% if include.text %}
        {{ include.text }}
    {% endif %}
    <a href="{{ include.imglarge }}" data-toggle="lightbox" data-footer="{{ include.caption }}">
        <img src="{{ include.imgthumb }}" class="img-fluid">
    </a>
    {% if include.showcaption %}
        <span>{{ include.caption }}</span>
    {% endif %}
</div>
