<div class="container proc-page-top{%if include.subpage %} proc-subpage{% endif%}">
    <div class="row">
        <div class="col-sm-12 col-md-8 procdesc {% if include.large %}large-desc{% endif %}">
            <p class="{%if include.subpage %}pageintro-light{% endif %}"> 
                {{ include.procdesc }}
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="psm-circ-nav-small">
                <div class="psm-nav-1 {% if include.pr1 %}highlight{% endif %}"><a href="/en/capacities/focus/procurement-and-supply-chain-management/1-selection">Selection</a></div>
                <div class="psm-nav-2 {% if include.pr2 %}highlight{% endif %}"><a href="/en/capacities/focus/procurement-and-supply-chain-management/2-quantification">Quantification</a></div>
                <div class="psm-nav-3 {% if include.pr3 %}highlight{% endif %}"><a href="/en/capacities/focus/procurement-and-supply-chain-management/3-procurement">Procurement</a></div>
                <div class="psm-nav-4 {% if include.pr4 %}highlight{% endif %}"><a href="/en/capacities/focus/procurement-and-supply-chain-management/4-storage">Storage</a></div>
                <div class="psm-nav-5 {% if include.pr5 %}highlight{% endif %}"><a href="/en/capacities/focus/procurement-and-supply-chain-management/5-distribution">Distribution</a></div>
                <div class="psm-nav-6 {% if include.pr6 %}highlight{% endif %}"><a href="/en/capacities/focus/procurement-and-supply-chain-management/6-use">Use</a></div>
            </div>            
        </div>
    </div>
</div>
