<div class="row related-holder">
    {% if include.title0 %}
        <div class="col-sm-4">
            <div class="owl-carousel">
                <div class="post-slide">
                    {% if include.img0 %}
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img0 }}" alt="loraim">
                        <div class="over-layer">
                            <ul class="post-link">
                                <li>
                                    <a href="#" class="fa fa-link"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url0 }}">{{ include.title0 }}</a>
                        </h3>
                        {% if include.description0 %}
                        <p class="post-description">{{ include.description0 }}</p>
                        {% endif %}
                        <a href="{{ include.url0 }}" class="blue-button related-pages-link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if include.title1 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img1 %}
                <div class="post-img">
                    <!-- <img class="img-responsive" src="/images/related/related1.jpg" alt="loraim"> -->
                    <img class="img-responsive" src="{{ include.img1 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url1 }}">{{ include.title1 }}</a>
                    </h3>
                    {% if include.description1 %}
                    <p class="post-description">{{ include.description1 }}</p>
                    {% endif %}
                    <a href="{{ include.url1 }}" class="blue-button related-pages-link">Read more</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if include.title2 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img2 %}
                <div class="post-img">
                    <img class="img-responsive" src="{{ include.img2 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url2 }}">{{ include.title2 }}</a>
                    </h3>
                    {%if include.description2 %}
                    <p class="post-description">{{ include.description2 }}</p>
                    {% endif %}
                    <a href="{{ include.url2 }}" class="blue-button related-pages-link">Read more</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if include.title3 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img3 %}
                <div class="post-img">
                    <img class="img-responsive" src="{{ include.img3 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url3 }}">{{ include.title3 }}</a>
                    </h3>
                    {%if include.description3 %}
                    <p class="post-description">{{ include.description3 }}</p>
                    {% endif %}
                    <a href="{{ include.url3 }}" class="blue-button related-pages-link">Read more</a>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if include.title4 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img4 %}
                <div class="post-img">
                    <img class="img-responsive" src="{{ include.img4 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url4 }}">{{ include.title4 }}</a>
                    </h3>
                    {%if include.description4 %}
                    <p class="post-description">{{ include.description4 }}</p>
                    {% endif %}
                    <a href="{{ include.url4 }}" class="blue-button related-pages-link">Read more</a>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if include.title5 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img5 %}
                <div class="post-img">
                    <img class="img-responsive" src="{{ include.img5 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url5 }}">{{ include.title5 }}</a>
                    </h3>
                    {%if include.description5 %}
                    <p class="post-description">{{ include.description5 }}</p>
                    {% endif %}
                    <a href="{{ include.url5 }}" class="blue-button related-pages-link">Read more</a>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if include.title6 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img6 %}
                <div class="post-img">
                    <img class="img-responsive" src="{{ include.img6 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url }}">{{ include.title6 }}</a>
                    </h3>
                    {%if include.description6 %}
                    <p class="post-description">{{ include.description6 }}</p>
                    {% endif %}
                    <a href="{{ include.url6 }}" class="blue-button related-pages-link">Read more</a>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if include.title7 %}
    <div class="col-sm-4">
        <div class="owl-carousel">
            <div class="post-slide">
                {% if include.img7 %}
                <div class="post-img">
                    <img class="img-responsive" src="{{ include.img7 }}" alt="loraim">
                    <div class="over-layer">
                        <ul class="post-link">
                            <li>
                                <a href="#" class="fa fa-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-content">
                    <h3 class="post-title">
                        <a href="{{ include.url7 }}">{{ include.title7 }}</a>
                    </h3>
                    {%if include.description7 %}
                    <p class="post-description">{{ include.description7 }}</p>
                    {% endif %}
                    <a href="{{ include.url7 }}" class="blue-button related-pages-link">Read more</a>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>