<div class="row related-repeat">
    {% unless include.current == include.title0 %}
        {% if include.title0 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img0 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url0 }}">{{ include.title0 }}</a>
                        </h3>
                        <a href="{{ include.url0 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}

    {% unless include.current == include.title1 %}
        {% if include.title1 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img1 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url1 }}">{{ include.title1 }}</a>
                        </h3>
                        <a href="{{ include.url1 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title2 %}
        {% if include.title2 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img2 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url2 }}">{{ include.title2 }}</a>
                        </h3>
                        <a href="{{ include.url2 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title3 %}
        {% if include.title3 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img3 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url3 }}">{{ include.title3 }}</a>
                        </h3>
                        <a href="{{ include.url3 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title4 %}
        {% if include.title4 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img4 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url4 }}">{{ include.title4 }}</a>
                        </h3>
                        <a href="{{ include.url4 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title5 %}
        {% if include.title5 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img5 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url5 }}">{{ include.title5 }}</a>
                        </h3>
                        <a href="{{ include.url5 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title6 %}
        {% if include.title6 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img6 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url6 }}">{{ include.title6 }}</a>
                        </h3>
                        <a href="{{ include.url6 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title7 %}
        {% if include.title7 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img7 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url7 }}">{{ include.title7 }}</a>
                        </h3>
                        <a href="{{ include.url7 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}

    {% unless include.current == include.title8 %}
        {% if include.title8 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img8 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url8 }}">{{ include.title8 }}</a>
                        </h3>
                        <a href="{{ include.url8 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}


    {% unless include.current == include.title9 %}
        {% if include.title9 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img9 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url9 }}">{{ include.title9 }}</a>
                        </h3>
                        <a href="{{ include.url9 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title10 %}
        {% if include.title10 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img10 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url10 }}">{{ include.title10 }}</a>
                        </h3>
                        <a href="{{ include.url10 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title11 %}
        {% if include.title11 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img11 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url11 }}">{{ include.title11 }}</a>
                        </h3>
                        <a href="{{ include.url11 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
    {% unless include.current == include.title12 %}
        {% if include.title12 %}
        <div class="col-sm-2">
            <div class="owl-carousel">
                <div class="post-slide">
                    <div class="post-img">
                        <img class="img-responsive" src="{{ include.img12 }}" alt="loraim">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="{{ include.url12 }}">{{ include.title12 }}</a>
                        </h3>
                        <a href="{{ include.url12 }}" class="blue-button white-button">See results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endunless %}
    
</div>