<div class="container country-related">

        {% if include.regionpage %}

        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        Regional programme results
                    </h2>
                </div>
            </div>
        </div>

        {% if include.regionafrica %}
            {% include relatedpages-small.html
                title1="Africa Regional HIV Grant"
                current=include.current
                url1="/en/results/regional-grants/africa-regional-hiv-grant"
                img1="/images/sections/results/undp-mw-malawi-hiv-antiretroviral-74-small.jpg"    
            %}
        {% endif %}

        {% if include.regioncaribbean %}
            {% include relatedpages-small.html
                title2="Caribbean Regional HIV Project"
                current=include.current
                url2="/en/results/regional-grants/cvccoin-caribbean-regional-hiv-project"
                img2="/images/sections/results/cvc-image.png"
            %}
        {% endif %}

        {% if include.regionpacific %}
            {% include relatedpages-small.html
                title3="Western Pacific Programme"
                current=include.current
                url3="/en/results/regional-grants/multi-country-western-pacific-programme"
                img3="/images/sections/results/westernpacific.png"
            %}
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                {% if include.resultsmain %}
                    <h2>Country results</h2>
                {% endif %}
                {% if include.africa %}
                    <h2>Country results</h2>
                {% endif %}
                {% if include.europe %}
                    <h2>Country results</h2>
                {% endif %}
                {% if include.caribbean %}
                    <h2>Country results</h2>
                {% endif %}
                {% if include.arabstates %}
                    <h2>Country results</h2>
                {% endif %}
                {% if include.asiapacific %}
                    <h2>Country results</h2>
                {% endif %}
                {% if include.regional %}
                    <h2>Regional grants</h2>
                {% endif %}
                {% if include.hlmtb %}
                    <h2 id="hlmtb-progs">TB programmes managed by UNDP</h2>
                {% endif %}
            </div>
        </div>
    </div>

    {% if include.africa %}
        {% include relatedpages-small.html
                title0="Angola"
                current=include.current
                url0="/en/results/africa/angola/"
                img0="/images/sections/results/UNDP-Angola-results-small.jpg"

                title1="Burundi"
                current=include.current
                url1="/en/results/africa/burundi/"
                img1="/images/sections/results/UNDP-Burundi-results-small.jpg"

                title2="Chad"
                current=include.current
                url2="/en/results/africa/chad/"
                img2="/images/sections/results/UNDP-Chad-results-small.jpg"

                title3="Guinea-Bissau"
                current=include.current
                url3="/en/results/africa/guinea-bissau/"
                img3="/images/sections/results/UNDP-GuineaBissau-results-small.jpg"

                title4="Mali"
                current=include.current
                url4="/en/results/africa/mali/"
                img4="/images/sections/results/UNDP-Mali-results-small.jpg"

                title5="South Sudan"
                current=include.current
                url5="/en/results/africa/south-sudan/"
                img5="/images/sections/results/UNDP-SouthSudan-results-small.jpg"

                title6="São Tomé and Príncipe"
                current=include.current
                url6="/en/results/africa/sao-tome-and-principe/"
                img6="/images/sections/results/UNDP-SaoTomePrincipe-results-small.jpg"

                title7="Zambia"
                current=include.current
                url7="/en/results/africa/zambia/"
                img7="/images/sections/results/UNDP-Zambia-results-small.jpg"

                title8="Zimbabwe"
                current=include.current
                url8="/en/results/africa/zimbabwe/"
                img8="/images/sections/results/UNDP-Zimbabwe-results-small.jpg"
                    
        %}
    {% endif %}

    {% if include.europe %}
        {% include relatedpages-small.html

            title1="Kyrgyzstan"
            current=include.current
            url1="/en/results/europe-cis/kyrgyzstan/"
            img1="/images/sections/results/UNDP-Kyrgyzstan-results-small.jpg"

            title2="Tajikistan"
            current=include.current
            url2="/en/results/europe-cis/tajikistan/"
            img2="/images/sections/results/UNDP-Tajikistan-results-small.jpg"

            title3="Turkmenistan"
            current=include.current
            url3="/en/results/europe-cis/turkmenistan/"
            img3="/images/sections/results/UNDP-Turkmenistan-results-small.jpg"

        %}
    {% endif %}

    {% if include.caribbean %}

        {% include relatedpages-small.html
            title1="Belize"
            current=include.current
            url1="/en/results/latin-america-the-caribbean/belize/"
            img1="/images/sections/results/UNDP-Belize-results-small.jpg"

            title2="Bolivia"
            current=include.current
            url2="/en/results/latin-america-the-caribbean/bolivia/"
            img2="/images/sections/results/UNDP-Bolivia-results-small.jpg"

            title3="Cuba"
            current=include.current
            url3="/en/results/latin-america-the-caribbean/cuba/"
            img3="/images/sections/results/UNDP-Cuba-results-small.jpg"

            title4="Panama"
            current=include.current
            url4="/en/results/latin-america-the-caribbean/panama/"
            img4="/images/sections/results/UNDP-Panama-results-small.jpg"
    
        %}
    {% endif %}

    {% if include.arabstates %}

        {% include relatedpages-small.html
            title1="Djibouti"
            current=include.current
            url1="/en/results/arab-states/djibouti"
            img1="/images/sections/results/UNDP-Djibouti-results-small.jpg"

            title2="Sudan"
            current=include.current
            url2="/en/results/arab-states/sudan/"
            img2="/images/sections/results/UNDP-Sudan-results-small.jpg"

        %}
    {% endif %}

    {% if include.asiapacific %}

        {% include relatedpages-small.html
            title1="Afghanistan"
            current=include.current
            url1="/en/results/asia-pacific/afghanistan/"
            img1="/images/sections/results/UNDP-Afghanistan-results-small.jpg"

            title2="Iran"
            current=include.current
            url2="/en/results/asia-pacific/iran/"
            img2="/images/sections/results/UNDP-Iran-results-small.jpg"
    
        %}
    {% endif %}

    {% if include.regional %}

        {% include relatedpages-small.html
            title1="Africa Regional HIV Grant"
            current=include.current
            url1="/en/results/regional-grants/africa-regional-hiv-grant"
            img1="/images/sections/results/undp-mw-malawi-hiv-antiretroviral-74-small.jpg"

            title2="Caribbean Regional HIV Project"
            current=include.current
            url2="/en/results/regional-grants/cvccoin-caribbean-regional-hiv-project"
            img2="/images/sections/results/cvc-image.png"

            title3="Western Pacific Programme"
            current=include.current
            url3="/en/results/regional-grants/multi-country-western-pacific-programme"
            img3="/images/sections/results/westernpacific.png"

        %}
    {% endif %}

    {% if include.resultsmain %}

        {% include relatedpages-small.html
            title0="Angola"
            current=include.current
            url0="/en/results/africa/angola/"
            img0="/images/sections/results/UNDP-Angola-results-small.jpg"

            title7="Zambia"
            current=include.current
            url7="/en/results/africa/zambia/"
            img7="/images/sections/results/UNDP-Zambia-results-small.jpg"

            title8="Zimbabwe"
            current=include.current
            url8="/en/results/africa/zimbabwe/"
            img8="/images/sections/results/UNDP-Zimbabwe-results-small.jpg"

            title1="Afghanistan"
            current=include.current
            url1="/en/results/asia-pacific/afghanistan"
            img1="/images/sections/results/UNDP-Afghanistan-results-small.jpg"

            title3="Kyrgyzstan"
            current=include.current
            url3="/en/results/europe-cis/tajikistan/"
            img3="/images/sections/results/UNDP-Kyrgyzstan-results-small.jpg"

            title2="Sudan"
            current=include.current
            url2="/en/results/arab-states/sudan/"
            img2="/images/sections/results/UNDP-Sudan-results-small.jpg"

            title4="Bolivia"
            current=include.current
            url4="/en/results/latin-america-the-caribbean/bolivia/"
            img4="/images/sections/results/UNDP-Bolivia-results-small.jpg"
        %}

    {% endif %}

    {% if include.regions %}

        {% include relatedpages-small.html
            title0="Angola"
            current=include.current
            url0="/en/results/africa/angola/"
            img0="/images/sections/results/UNDP-Angola-results-small.jpg"

            title7="Zambia"
            current=include.current
            url7="/en/results/africa/zambia/"
            img7="/images/sections/results/UNDP-Zambia-results-small.jpg"

            title8="Zimbabwe"
            current=include.current
            url8="/en/results/africa/zimbabwe/"
            img8="/images/sections/results/UNDP-Zimbabwe-results-small.jpg"

            title1="Afghanistan"
            current=include.current
            url1="/en/results/asia-pacific/afghanistan"
            img1="/images/sections/results/UNDP-Afghanistan-results-small.jpg"

            title3="Kyrgyzstan"
            current=include.current
            url3="/en/results/europe-cis/kyrgyzstan/"
            img3="/images/sections/results/UNDP-Kyrgyzstan-results-small.jpg"

            title2="Sudan"
            current=include.current
            url2="/en/results/arab-states/sudan/"
            img2="/images/sections/results/UNDP-Sudan-results-small.jpg"

            title4="Bolivia"
            current=include.current
            url4="/en/results/latin-america-the-caribbean/bolivia/"
            img4="/images/sections/results/UNDP-Bolivia-results-small.jpg"
        %}

    {% endif %}

    {% if include.hlmtb %}

        {% include relatedpages-small.html
            title0="Afghanistan"
            url0="/en/results/asia-pacific/afghanistan"
            img0="/images/sections/results/UNDP-Afghanistan-results-small.jpg"

            title1="Belize"
            url1="/en/results/latin-america-the-caribbean/belize/"
            img1="/images/sections/results/UNDP-Belize-results-small.jpg"

            title2="Bolivia"
            url2="/en/results/latin-america-the-caribbean/bolivia/"
            img2="/images/sections/results/UNDP-Bolivia-results-small.jpg"

            title3="Burundi"
            url3="/en/results/africa/burundi/"
            img3="/images/sections/results/UNDP-Burundi-results-small.jpg"

            title4="Djibouti"
            url4="/en/results/arab-states/djibouti"
            img4="/images/sections/results/UNDP-Djibouti-results-small.jpg"

            title5="Kyrgyzstan"
            url5="/en/results/europe-cis/kyrgyzstan/"
            img5="/images/sections/results/UNDP-Kyrgyzstan-results-small.jpg"

            title6="Western Pacific Programme"
            url6="/en/results/regional-grants/multi-country-western-pacific-programme"
            img6="/images/sections/results/westernpacific.png"

            title7="Panama"
            url7="/en/results/latin-america-the-caribbean/panama/"
            img7="/images/sections/results/UNDP-Panama-results-small.jpg"

            title8="São Tomé and Príncipe"
            url8="/en/results/africa/sao-tome-and-principe/"
            img8="/images/sections/results/UNDP-SaoTomePrincipe-results-small.jpg"

            title9="South Sudan"
            url9="/en/results/africa/south-sudan/"
            img9="/images/sections/results/UNDP-SouthSudan-results-small.jpg"

            title10="Sudan"
            url10="/en/results/arab-states/sudan/"
            img10="/images/sections/results/UNDP-Sudan-results-small.jpg"

            title11="Turkmenistan"
            url11="/en/results/europe-cis/turkmenistan/"
            img11="/images/sections/results/UNDP-Turkmenistan-results-small.jpg"

            title12="Zimbabwe"
            url12="/en/results/africa/zimbabwe/"
            img12="/images/sections/results/UNDP-Zimbabwe-results-small.jpg"

        %}
    {% endif %}

    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                <h2>All countries and regions</h2>
            </div>
        </div>
    </div>

    {% include results-footer-nav.html 
        region="true"
    %}
</div>

    