<div class="col-sm-12 col-md-6 {% if include.center %} offset-md-3{% endif %} portfolio-overview">
    <h3>Grant details</h3>
    <div class="row titlerow">
        {% if include.disease2 %}
        <div class="col-2 col-md-2 text-left">Disease</div>
        <div class="col-5 col-md-5 text-right">{{ include.disease1 }}</div>
        <div class="col-5 col-md-5 text-right">{{ include.disease2 }}</div>
        {% else %}
        <div class="col-3 col-md-7 text-left">Disease</div>
        <div class="col-9 col-md-5 text-right">{{ include.disease1 }}</div>
        {% endif %}
    </div>
    <div class="row">
        {% if include.disease2 %}
        <div class="col-2 col-md-2 text-left">Grant</div>
        <div class="col-5 col-md-5 text-right">{{ include.grant1 }}</div>
        <div class="col-5 col-md-5 text-right">{{ include.grant2 }}</div>
        {% else %}
        <div class="col-3 col-md-6 text-left">Grant</div>
        <div class="col-9 col-md-6 text-right">{{ include.grant1 }}</div>
        {% endif %}
    </div>
    <div class="row">
        {% if include.disease2 %}
        <div class="col-2 col-md-2 text-left">Phase</div>
        <div class="col-5 col-md-5 text-right">{{ include.phase1 }}</div>
        <div class="col-5 col-md-5 text-right">{{ include.phase2 }}</div>
        {% else %}
        <div class="col-3 col-md-6 text-left">Phase</div>
        <div class="col-9 col-md-6 text-right">{{ include.phase1 }}</div>
        {% endif %}
    </div>
    <div class="row">
        {% if include.disease2 %}
        <div class="col-2 col-md-2 text-left">Amount</div>
        <div class="col-5 col-md-5 text-right">{{ include.amount1 }}</div>
        <div class="col-5 col-md-5 text-right">{{ include.amount2 }}</div>
        {% else %}
        <div class="col-3 col-md-6 text-left">Amount</div>
        <div class="col-9 col-md-6 text-right">{{ include.amount1 }}</div>
        {% endif %}
    </div>
    <div class="row rating-row">
        {% if include.disease2 %}
        <div class="col-2 col-md-2 text-left">Rating</div>
        <div class="col-5 col-md-5 text-right">
            <span class="rating"><img src="/images/ratings/{{ include.rating1 }}.png" /></span>
        </div>
        <div class="col-5 col-md-5 text-right">
            <span class="rating"><img src="/images/ratings/{{ include.rating2 }}.png" /></span>
            <button type="button" class="rating-question" data-toggle="popover" title="Overall Grant Rating" data-content="<div class='overall-ratings'><div class='ratingrow'><img src='/images/ratings/a1.png'/>Exceeding expectations</div><div class='ratingrow'><img src='/images/ratings/a2.png'/>Meeting expectations</div><div class='ratingrow'><img src='/images/ratings/b1.png'/>Adequate</div><div class='ratingrow'><img src='/images/ratings/b2.png'/>Inadequate but potential demonstrated</div><div class='ratingrow'><img src='/images/ratings/c.png'/>Unacceptable</div><div class='ratingrow'><img src='/images/ratings/nr.png'/>No rating available</div></div>">?</button>
        </div>
        {% else %}
        <div class="col-3 col-md-6 text-left">Rating</div>
        <div class="col-9 col-md-6 text-right">
            <span class="rating"><img src="/images/ratings/{{ include.rating1 }}.png" /></span>
            <button type="button" class="rating-question" data-toggle="popover" title="Overall Grant Rating" data-content="<div class='overall-ratings'><div class='ratingrow'><img src='/images/ratings/a1.png'/>Exceeding expectations</div><div class='ratingrow'><img src='/images/ratings/a2.png'/>Meeting expectations</div><div class='ratingrow'><img src='/images/ratings/b1.png'/>Adequate</div><div class='ratingrow'><img src='/images/ratings/b2.png'/>Inadequate but potential demonstrated</div><div class='ratingrow'><img src='/images/ratings/c.png'/>Unacceptable</div><div class='ratingrow'><img src='/images/ratings/nr.png'/>No rating available</div></div>">?</button>
        </div>
        {% endif %}
    </div>
    {% if include.disease3 %}
        <div class="row titlerow margin2-top">
            {% if include.disease4 %}
            <div class="col-2 col-md-2 text-left">Disease</div>
            <div class="col-5 col-md-5 text-right">{{ include.disease3 }}</div>
            <div class="col-5 col-md-5 text-right">{{ include.disease4 }}</div>
            {% else %}
            <div class="col-3 col-md-7 text-left">Disease</div>
            <div class="col-9 col-md-5 text-right">{{ include.disease3 }}</div>
            {% endif %}
        </div>
        <div class="row">
            {% if include.disease4 %}
            <div class="col-2 col-md-2 text-left">Grant</div>
            <div class="col-5 col-md-5 text-right">{{ include.grant3 }}</div>
            <div class="col-5 col-md-5 text-right">{{ include.grant4 }}</div>
            {% else %}
            <div class="col-3 col-md-6 text-left">Grant</div>
            <div class="col-9 col-md-6 text-right">{{ include.grant3 }}</div>
            {% endif %}
        </div>
        <div class="row">
            {% if include.disease4 %}
            <div class="col-2 col-md-2 text-left">Phase</div>
            <div class="col-5 col-md-5 text-right">{{ include.phase3 }}</div>
            <div class="col-5 col-md-5 text-right">{{ include.phase4 }}</div>
            {% else %}
            <div class="col-3 col-md-6 text-left">Phase</div>
            <div class="col-9 col-md-6 text-right">{{ include.phase3 }}</div>
            {% endif %}
        </div>
        <div class="row">
            {% if include.disease4 %}
            <div class="col-2 col-md-2 text-left">Amount</div>
            <div class="col-5 col-md-5 text-right">{{ include.amount3 }}</div>
            <div class="col-5 col-md-5 text-right">{{ include.amount4 }}</div>
            {% else %}
            <div class="col-3 col-md-6 text-left">Amount</div>
            <div class="col-9 col-md-6 text-right">{{ include.amount3 }}</div>
            {% endif %}
        </div>
        <div class="row rating-row">
            {% if include.disease4 %}
            <div class="col-2 col-md-2 text-left">Rating</div>
            <div class="col-5 col-md-5 text-right">
                <span class="rating"><img src="/images/ratings/{{ include.rating3 }}.png" /></span>
            </div>
            <div class="col-5 col-md-5 text-right">
                <span class="rating"><img src="/images/ratings/{{ include.rating4 }}.png" /></span>
                <button type="button" class="rating-question" data-toggle="popover" title="Overall Grant Rating" data-content="<div class='overall-ratings'><div class='ratingrow'><img src='/images/ratings/a1.png'/>Exceeding expectations</div><div class='ratingrow'><img src='/images/ratings/a2.png'/>Meeting expectations</div><div class='ratingrow'><img src='/images/ratings/b1.png'/>Adequate</div><div class='ratingrow'><img src='/images/ratings/b2.png'/>Inadequate but potential demonstrated</div><div class='ratingrow'><img src='/images/ratings/c.png'/>Unacceptable</div><div class='ratingrow'><img src='/images/ratings/nr.png'/>No rating available</div></div>">?</button>
            </div>
            {% else %}
            <div class="col-3 col-md-6 text-left">Rating</div>
            <div class="col-9 col-md-6 text-right">
                <span class="rating"><img src="/images/ratings/{{ include.rating3 }}.png" /></span>
                <button type="button" class="rating-question" data-toggle="popover" title="Overall Grant Rating" data-content="<div class='overall-ratings'><div class='ratingrow'><img src='/images/ratings/a1.png'/>Exceeding expectations</div><div class='ratingrow'><img src='/images/ratings/a2.png'/>Meeting expectations</div><div class='ratingrow'><img src='/images/ratings/b1.png'/>Adequate</div><div class='ratingrow'><img src='/images/ratings/b2.png'/>Inadequate but potential demonstrated</div><div class='ratingrow'><img src='/images/ratings/c.png'/>Unacceptable</div><div class='ratingrow'><img src='/images/ratings/nr.png'/>No rating available</div></div>">?</button>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>