<div class="row">
    <div class="col-sm-12">
        <h1>
            {{ include.title }} - Results
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <h3>{{ include.title1 }}</h3>
        <div id="page-wrap">
            <div class="sidebar-box">
                <p>{{ include.para1 }}</p>
                <p class="read-more"><a href="#" class="blue-button read-more-button">Read More</a></p>
                <p class="read-less"><a href="#" class="blue-button read-less-button">Read Less</a></p>
            </div>
        </div>        
    </div>
    <div class="col-sm-12 col-md-6">
        <h3>{{ include.title2 }}</h3>
        <div id="page-wrap">
            <div class="sidebar-box">
                <p>{{ include.para2 }}</p>
                <p class="read-more"><a href="#" class="blue-button read-more-button">Read More</a></p>
                <p class="read-less"><a href="#" class="blue-button read-less-button">Read Less</a></p>
            </div>
        </div>        
    </div>
</div>
