<div class="row country-footer-nav">
    <ul class="dropdown-menu dropdown-menu-large row show">
        <li>
            <div class="row">
                <div class="col-sm-4 col-results col-highlight">
                    <ul>
                        <li class="dropdown-header">
                            <a href="/en/results/africa/" class="">
                                <span>Africa</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/angola/" class="">
                                Angola
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/burundi/" class="">
                                Burundi
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/chad/" class="">
                                Chad
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/guinea-bissau/" class="">
                                Guinea-Bissau
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/mali/" class="">
                                Mali
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/south-sudan/" class="">
                                South Sudan
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/sao-tome-and-principe/" class="">
                                São Tomé and Príncipe
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/zambia/" class="">
                                Zambia
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/africa/zimbabwe/" class="">
                                Zimbabwe
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-results col-highlight">
                    <ul>
                        <li class="dropdown-header">
                            <a href="/en/results/europe-cis/" class="">
                                <span>Europe &amp; CIS</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/europe-cis/kyrgyzstan/" class="">
                                Kyrgyzstan
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/europe-cis/tajikistan/" class="">
                                Tajikistan
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/europe-cis/turkmenistan/" class="">
                                Turkmenistan
                            </a>
                        </li>
                        <li class="dropdown-header drop-margin">
                            <a href="/en/results/latin-america-the-caribbean/" class="">
                                <span>Latin America &amp; The Caribbean</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/latin-america-the-caribbean/belize/" class="">
                                Belize
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/latin-america-the-caribbean/bolivia/" class="">
                                Bolivia
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/latin-america-the-caribbean/cuba/" class="">
                                Cuba
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/latin-america-the-caribbean/panama/" class="">
                                Panama
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-results col-highlight">
                    <ul>
                        <li class="dropdown-header">
                            <a href="/en/results/arab-states/" class="">
                                <span>Arab States</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/arab-states/djibouti/" class="">
                                Djibouti
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/arab-states/sudan/" class="">
                                Sudan
                            </a>
                        </li>
                        <li class="dropdown-header drop-margin">
                            <a href="/en/results/asia-pacific/" class="">
                                <span>Asia &amp; Pacific</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/asia-pacific/afghanistan/" class="">
                                Afghanistan
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/asia-pacific/iran/" class="">
                                Iran
                            </a>
                        </li>
                        <li class="dropdown-header drop-margin">
                            <a href="/en/results/regional-grants/" class="">
                                <span>Regional grants</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/regional-grants/africa-regional-hiv-grant" class="">
                                Africa Regional HIV Grant
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/regional-grants/cvccoin-caribbean-regional-hiv-project" class="">
                                Caribbean Regional HIV Project
                            </a>
                        </li>
                        <li class="">
                            <a href="/en/results/regional-grants/multi-country-western-pacific-programme" class="">
                                Western Pacific Programme
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>