<div class="row sub-maincontent">
    <div class="col-xs-12 col-md-4 sub-navblock">
        <ul>
            <li>
                <a class="selected" href="">Where we work</a>
            </li>
            <li>
                <a href="">Portfolio results</a>
            </li>
            <li>
                <a href="">Right to health</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-8 sub-contentblock">
        <div class="col-xs-12 sub-navblock">
            <div>
                <p style="text-align: center;">The globe below shows the countries and regions where UNDP is currently working in partnership with
                    national governments and civil society to implement Global Fund grants. This includes 35 grants
                    that cover 18 countries and 3 regional programmes (as of October 2017). The results presented
                    are cumulative over the lifetime of the programme except numbers on ART.</p>
                <p>
                    <iframe src="https://goal-keeper-cheetah-71238.netlify.com" style="width: 100%; height: 1200px;" scrolling="no" marginwidth="0"
                        marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>
                </p>
            </div>
        </div>
    </div>
</div>
