<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <p class="p-box large-p">
                <b>UNDP’s Global Fund portfolio has saved millions of lives in support
                to countries.</b> Expanding opportunities for children and young adults in their most productive years who
                would have otherwise succumbed to the diseases.
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="lives-saved">
                <i class="icon-hearts color-red"></i>
                <h3>3.1 million lives saved</h3>
            </div>
        </div>
    </div>
</div>

<div class="container results-main-box results-main-hiv">
    <div class="row results-main-hiv-title">
        <div class="col-sm-12 col-md-12">
            <h2>HIV - Key Results</h2>
        </div>
    </div>

    <div class="container sub-stats">
        <div class="row">
            <div class="col-md-6 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-pill color-red"></i>
                    <h3>2.2 million people currently on HIV treatment (2017)</h3>
                    <p>Source: UNDP</p>
                </div>
                <div class="results-hiv-treatment2">
                    <i class="icon-people-alt color-red"></i>
                    <i class="icon-people-alt color-red opac"></i>
                    <i class="icon-people-alt color-red opac"></i>
                    <i class="icon-people-alt color-red opac"></i>
                    <i class="icon-people-alt color-red opac"></i>
                    <i class="icon-people-alt color-red opac"></i>
                    <i class="icon-people-alt color-red opac"></i>
                    <h3>1 out of 7 people in Africa currently receiving HIV treatment are treated through a UNDP programme</h3>
                    <p>
                        Source: UNDP
                    </p>
                </div>
            </div>
    
            <div class="col-md-6 sub-stats-col">
                <div class="results-hiv-counselling1">
                    <i class="icon-male-and-female color-red"></i>
                    <h3>44 million people received HIV counselling and testing</h3>
                    <p>Source: UNDP</p>
                </div>
                <div class="results-hiv-counselling2">
                    <i class="icon-ribbon color-red"></i>
                    <h3>75% reduction in AIDS related deaths in Zimbabwe</h3>
                </div>
            </div>

            {% if null %}
            <div class="col-sm-12 read-more-section">
                <span class="read-more blue-button">Related content >>></span>
                <div class="read-more-toggle">
                    <div class="container country-related">

                        {% include relatedpages-small.html
                    
                            title1="World AIDS day 2017"
                            description1="World AIDS day 2017"
                            url1="/en/results/events/world-aids-day-2017/"
                            img1="/images/events/world-aids-day.jpg"
                            
                        %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container results-main-box results-main-tb">
    <div class="row results-main-tb-title">
        <div class="col-sm-12 col-md-12">
            <h2>Tuberculosis - Key Results</h2>
        </div>
    </div>

    <div class="container sub-stats">
        <div class="row">
            <div class="col-md-4 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-diagnostics color-blue"></i>
                    <h3>870,000 cases of TB detected and put on treatment</h3>
                </div>
            </div>

            <div class="col-md-4 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-pill color-blue"></i>
                    <h3>16 countries with a treatment success rate for TB over 80%</h3>
                </div>
            </div>

            <div class="col-md-4 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-lungs color-blue"></i>
                    <h3>10 countries where TB related mortality has decreased by more than a third</h3>
                </div>
            </div>

            {% if null %}
            <div class="col-sm-12 read-more-section">
                <span class="read-more blue-button">Related content >>></span>
                <div class="read-more-toggle">
                    <div class="container country-related">

                        {% include relatedpages-small.html
                    
                            title1="World AIDS day 2017"
                            description1="World TB day 2018"
                            url1="/en/results/events/world-tb-day-2017/"
                            img1="/images/events/world-tb-day-2018.png"
                            
                        %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container results-main-box results-main-malaria">
    <div class="row results-main-malaria-title">
        <div class="col-sm-12 col-md-12">
            <h2>Malaria - Key Results</h2>
        </div>
    </div>

    <div class="container sub-stats">
        <div class="row">
            <div class="col-md-4 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-diagnostics color-green"></i>
                    <i class="icon-diagnostics color-green"></i>
                    <i class="icon-diagnostics color-green"></i>
                    <i class="icon-diagnostics color-green"></i>
                    <i class="icon-diagnostics color-green"></i>
                    <i class="icon-diagnostics color-green"></i>
                    <i class="icon-diagnostics color-green"></i>
                    <h3>72 million cases of malaria treated</h3>
                </div>
            </div>

            <div class="col-md-4 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <i class="icon-pill color-green"></i>
                    <h3>9 countries have achieved 100% coverage with antimalarial drugs</h3>
                </div>
            </div>

            <div class="col-md-4 sub-stats-col">
                <div class="results-hiv-treatment1">
                    <i class="icon-mosquito color-green"></i>
                    <i class="icon-mosquito color-green"></i>
                    <i class="icon-mosquito color-green"></i>
                    <i class="icon-mosquito color-green"></i>
                    <i class="icon-mosquito color-green"></i>
                    <i class="icon-mosquito color-green"></i>
                    <i class="icon-mosquito color-green"></i>
                    <h3>73 million bed nets distributed</h3>
                </div>
            </div>

            {% if null %}
            <div class="col-sm-12 read-more-section">
                <span class="read-more blue-button">Related content >>></span>
                <div class="read-more-toggle">
                    <div class="container country-related">

                        {% include relatedpages-small.html
                    
                            title1="World Malaria day 2018"
                            description1="World Malaria day 2018"
                            url1="/en/results/events/world-malaria-day-2017/"
                            img1="/images/events/world-malaria-day-2018.png"
                            
                        %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid grant-performance">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Grant performance</h2>
            </div>

            <div class="col-md-6">
                <p class="grant-performance-desc">
                    UNDP consistently outperforms other implementers of Global Fund grants. 48% percent of UNDP grants
                    are currently rated A1 or A2 (“exceed” or “meet expectations”) by the Global Fund compared to 35%
                    percent for all grants. This is despite the fact that UNDP is operating in some of the most
                    difficult country contexts.
                </p>

                <p>
                    <em>A1 - Exceeding expectations,&nbsp;</em>
                    <em>A2 - Meeting expectations,&nbsp;</em>
                    <em>B1 - Adequate,&nbsp;</em>
                    <em>B2 - Inadequate but potential demonstrated,&nbsp;</em>
                    <em>C - Unacceptable,&nbsp;</em>
                    <em>NR - Not rated</em>
                </p>
            </div>
            <div class="col-md-6 grant-pferformance-image">
                <div id="resultmain-canvas-holder">
                    <canvas id="resultmain-grantperformance"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid results-main-tableau">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <h2>Browse Global Results by Country</h2>
                <h3>This contains just programmatic results. Go to the country page to read about the impact of these programmes</h3>
            </div>
            <div class="col-sm-12">
                <!-- desktop -->
                <div class='tableauPlaceholder' id='viz1531837582568' style='position: relative'><noscript><a href='http:&#47;&#47;www.undp-globalfund-capacitydevelopment.org&#47;en&#47;results&#47;'><img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;UN&#47;UNDP-GlobalFundHarmonizedResultsend-2017&#47;Story1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='UNDP-GlobalFundHarmonizedResultsend-2017&#47;Story1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;UN&#47;UNDP-GlobalFundHarmonizedResultsend-2017&#47;Story1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes%3F%3Aembed' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>           
                    if (! (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {                 var divElement = document.getElementById('viz1531837582568');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='940px';vizElement.style.height='730px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);        } else { document.getElementById('viz1531837582568').remove(); }                </script>                
                <!-- mobile -->
                <div class='tableauPlaceholder' id='viz1531837706861' style='position: relative'><noscript><a href='#'><img alt='Country(m) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;UN&#47;UNDP-GlobalFundHarmonizedResultsend-2017&#47;Countrym&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='UNDP-GlobalFundHarmonizedResultsend-2017&#47;Countrym' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;UN&#47;UNDP-GlobalFundHarmonizedResultsend-2017&#47;Countrym&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>             if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {           var divElement = document.getElementById('viz1531837706861');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='920px';vizElement.style.height='640px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='920px';vizElement.style.height='640px';} else { vizElement.style.width='100%';vizElement.style.height='840px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);         } else { document.getElementById('viz1531837706861').remove(); }              </script>
            </div>
        </div>
    </div>
</div>
