<div class="container-fluid results-country-summary">
    <div class="container">
        <div class="row sub-maincontent">
            <div class="col-sm-12 col-md-6">
                <h3>{{ include.title1 }}</h3>
                <p>{{ include.para1 }}</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>{{ include.title2 }}</h3>
                <p>{{ include.para2 }}</p>
            </div>
        </div>
    </div>
</div>