<div class="subpage">
    <div class="container">
        <div class="row sub-header">
            <div class="col-xs-12 col-12">
                Results: Angola
            </div>
        </div>
        <div class="row sub-maincontent">
            <div class="col-xs-12 col-md-4 sub-navblock">
                <ul>
                    <li>
                        <a href="">Results</a>
                    </li>
                    <ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Overview</a>
                        </li>
                        <ul class="submenu-toggle-block">
                            <li>
                                <a href="">Where we work</a>
                            </li>
                            <li>
                                <a href="">Portfolio results</a>
                            </li>
                            <li>
                                <a href="">Right to health</a>
                            </li>
                        </ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Africa</a>
                        </li>
                        <ul class="submenu-toggle-block" style="display: block;">
                            <li>
                                <a href="" class="selected">Angola</a>
                            </li>
                            <li>
                                <a href="">Burundi</a>
                            </li>
                            <li>
                                <a href="">Chad</a>
                            </li>
                            <li>
                                <a href="">Guinea-Bissau</a>
                            </li>
                            <li>
                                <a href="">Mali</a>
                            </li>
                            <li>
                                <a href="">South Sudan</a>
                            </li>
                            <li>
                                <a href="">São Tomé and Príncipe</a>
                            </li>
                            <li>
                                <a href="">Zambia</a>
                            </li>
                            <li>
                                <a href="">Zimbabwe</a>
                            </li>
                        </ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Asia & Pacific</a>
                        </li>
                        <ul class="submenu-toggle-block">
                            <li>
                                <a href="">Afghanistan</a>
                            </li>
                            <li>
                                <a href="">Iran</a>
                            </li>
                        </ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Europe & CIS</a>
                        </li>
                        <ul class="submenu-toggle-block">
                            <li>
                                <a href="">Kyrgyzstan</a>
                            </li>
                            <li>
                                <a href="">Tajikistan</a>
                            </li>
                            <li>
                                <a href="">Turkmenistan</a>
                            </li>
                            <li>
                                <a href="">Uzbekistan</a>
                            </li>
                        </ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Latin America & The Caribbean</a>
                        </li>
                        <ul class="submenu-toggle-block">
                            <li>
                                <a href="">Belize</a>
                            </li>
                            <li>
                                <a href="">Bolivia</a>
                            </li>
                            <li>
                                <a href="">Cuba</a>
                            </li>
                            <li>
                                <a href="">Panama</a>
                            </li>
                        </ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Arab States</a>
                        </li>
                        <ul class="submenu-toggle-block">
                            <li>
                                <a href="">Djibouti</a>
                            </li>
                            <li>
                                <a href="">Iraq</a>
                            </li>
                            <li>
                                <a href="">Sudan</a>
                            </li>
                        </ul>
                        <li class="menu-title">
                            <a href="" class="subnav-title-toggle submenu-toggle-block-trigger">Regional Grants</a>
                        </li>
                        <ul class="submenu-toggle-block">
                            <li>
                                <a href="">Africa Regional HIV Grant</a>
                            </li>
                            <li>
                                <a href="">CVC/COIN Caribbean Regional HIV Project</a>
                            </li>
                            <li>
                                <a href="">Western Pacific Programme</a>
                            </li>
                        </ul>
                    </ul>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8 sub-contentblock">
                <h2>Project Summary: Angola</h2>
                <div class="sub-content-summary-top">
                    <p>
                        The HIV grant supports the HIV treatment programme, with
                        <b>68,300 people currently on treatment</b>. The programme also supports pregnant women with HIV in
                        prevention of mother-to-child transmission. It takes a human rights based approach to tackling the
                        HIV epidemic, particularly in relation to key populations, with the aim of removing barriers to accessing
                        HIV services.
                    </p>
                    <div class="placeholder-block"></div>
                </div>
                <p>
                    <a class="blue-button toggle-block-trigger">Show more</a>
                    <span class="toggle-block">
                        This will include the development of a national strategic plan on key populations, including sex workers and men who have
                        sex with men. Malaria is one of the leading causes of morbidity and mortality in Angola with the
                        number of deaths due to the disease estimated as being 21,000 in 2012. However based on proportional
                        malaria mortality rates, projections indicate that the total annual number of deaths may be as high
                        as 100,000. Between 2005 and 2008, UNDP managed the Global Fund Malaria programme in Angola, with
                        the aim to reduce the burden of malaria in the country through the strengthening of local health
                        services and improving access to malaria treatment for populations most at risk, particularly pregnant
                        women and children under five.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-full">
        <div class="row">
            <div class="col-sm-12">
                <div class="umb-grid">
                    <div class="grid-section">
                        <div style="padding:0px 0px 0px 0px; background:rgba(158,195,232,1.00);">
                            <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="grid-area col-md-12">
                                            <div style="padding:15px 0px 0px 0px;">
                                                <div>

                                                    <p style="text-align: center;">
                                                        <span class="contentTitle underline featuredFontColor">
                                                            <strong>KEY RESULTS - HIV</strong>
                                                        </span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:30px 0px 30px 0px; background:rgba(158,195,232,1.00);">
                            <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="grid-area col-md-4">
                                            <div style="padding:55px 34px 55px 34px;">
                                                <div>






                                                    <div class="c-center">
                                                        <i class="icon-user-females color-red c-font-48 c-left" style="color: rgba(0,96,169,1.00); opacity: 1; line-height: 48px;"></i>
                                                    </div>
                                                    <h3 class="c-center c-font-bold c-font-23" style="color: rgba(0,96,169,1.00);">887,000 counselling and testing encounters for HIV</h3>
                                                    <p class="c-font-16 c-font-bold c-center" style="color: rgba(0,96,169,1.00);">
                                                        Source: UNDP
                                                    </p>





                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-area col-md-4">
                                            <div>
                                                <div>








                                                    <div id="circleChart" data-dimension="200" data-text="83%" data-info="" data-width="10" data-fontsize="38" data-percent="83"
                                                        data-fgcolor="rgba(0,96,169,1.00)" data-bgcolor="transparent" data-fill="rgba(235,235,235,1.00)"
                                                        data-total="100" data-part="83" data-icon-size="28" data-icon-color="rgba(235,235,235,1.00)"
                                                        class="progress-circle c-font-bold margin-auto progress-circle-9fff46bc-8e0d-47b9-843a-809227e0bd5a circliful"
                                                        style="color: rgb(0, 96, 169); width: 200px;">
                                                        <span class="circle-text" style="line-height: 200px; font-size: 38px;">83%</span>
                                                        <span class="circle-info-half" style="line-height: 250px;"></span>
                                                        <canvas width="200" height="200" style="display: none;"></canvas>
                                                    </div>

                                                    <script type="text/javascript">
                                                        // LazyLoad.js([
                                                        //     "/assets/plugins/circliful/js/jquery.circliful.min.js"
                                                        // ], function () {
                                                        //     $(
                                                        //         '.progress-circle-9fff46bc-8e0d-47b9-843a-809227e0bd5a'
                                                        //     ).circliful();
                                                        // });
                                                    </script>
                                                    <h3 class="c-center c-font-bold c-font-23" style="color: rgba(0,96,169,1.00);">Sex workers using a condom (2015)</h3>
                                                    <p class="c-font-16 c-font-bold c-center" style="color: rgba(0,96,169,1.00);">
                                                        Source: UNAIDS
                                                    </p>





                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-area col-md-4">
                                            <div style="padding:55px 44px 55px 44px;">
                                                <div>






                                                    <div class="c-center">
                                                        <i class="icon-pill color-red c-font-48 c-left" style="color: rgba(0,96,169,1.00); opacity: 1; line-height: 48px;"></i>
                                                    </div>
                                                    <h3 class="c-center c-font-bold c-font-23" style="color: rgba(0,96,169,1.00);">68,300 people living with HIV currently on ART (2017)</h3>
                                                    <p class="c-font-16 c-font-bold c-center" style="color: rgba(0,96,169,1.00);">
                                                        Source: UNDP
                                                    </p>





                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:0px 25px 0px 25px;">
                            <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="grid-area col-md-12">
                                            <div style="padding:50px 0px 50px 0px;">
                                                <div>

                                                    <p>&nbsp;</p>
                                                    <p>
                                                        <strong>
                                                            <span class="fontSizeLarge">Project Summary</span>
                                                        </strong>
                                                    </p>
                                                    <p>
                                                        <span>The HIV grant supports the HIV treatment programme, with 68,300 people
                                                            currently on treatment. The programme also supports pregnant
                                                            women with HIV in prevention of mother-to-child transmission.
                                                            It takes a human rights based approach to tackling the HIV epidemic,
                                                            particularly in relation to key populations, with the aim of
                                                            removing barriers to accessing HIV services. This will include
                                                            the development of a national strategic plan on key populations,
                                                            including sex workers and men who have sex with men. Malaria
                                                            is one of the leading causes of morbidity and mortality in Angola
                                                            with the number of deaths due to the disease estimated as being
                                                            21,000 in 2012. However based on proportional malaria mortality
                                                            rates, projections indicate that the total annual number of deaths
                                                            may be as high as 100,000. Between 2005 and 2008, UNDP managed
                                                            the Global Fund Malaria programme in Angola, with the aim to
                                                            reduce the burden of malaria in the country through the strengthening
                                                            of local health services and improving access to malaria treatment
                                                            for populations most at risk, particularly pregnant women and
                                                            children under five. &nbsp;</span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:25px 0px 0px 0px; background:rgba(235,235,235,0.55);">
                            <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="grid-area col-md-12">
                                            <div>
                                                <div>



                                                </div>
                                                <div>

                                                    <p style="text-align: center;">
                                                        <span class="featuredFontColor underline">
                                                            <strong>
                                                                <span class="contentTitle">KEY RESULTS - MALARIA</span>
                                                            </strong>
                                                        </span>
                                                    </p>
                                                    <p style="text-align: center;">&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:0px 0px 30px 0px; background:rgba(235,235,235,0.55);">
                            <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="grid-area col-md-4">
                                            <div style="padding:70px 30px 0px 30px;">
                                                <div>
                                                    <div class="c-center">
                                                        <i class="icon-mosquito color-green c-font-48 c-left" style="color: rgba(0,96,169,1.00); opacity: 1; line-height: 48px;"></i>
                                                    </div>
                                                    <h3 class="c-center c-font-bold c-font-23" style="color: rgba(0,96,169,1.00);">1.4 million insecticide treated bed nets distributed</h3>
                                                    <p class="c-font-16 c-font-bold c-center" style="color: rgba(0,96,169,1.00);">
                                                        Source: UNDP
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-area col-md-4">
                                            <div>
                                                <div>
                                                    <div id="circleChart" data-dimension="200" data-text="-35%" data-info="" data-width="10" data-fontsize="38" data-percent="35"
                                                        data-fgcolor="rgba(0,96,169,1.00)" data-bgcolor="transparent" data-fill="rgba(158,195,232,1.00)"
                                                        data-total="100" data-part="35" data-icon-size="28" data-icon-color="rgba(158,195,232,1.00)"
                                                        class="progress-circle c-font-bold margin-auto progress-circle-f370df6a-9567-406f-91d2-508bac77ca50 circliful"
                                                        style="color: rgb(0, 96, 169); width: 200px;">
                                                        <span class="circle-text" style="line-height: 200px; font-size: 38px;">-35%</span>
                                                        <span class="circle-info-half" style="line-height: 250px;"></span>
                                                        <canvas width="200" height="200"></canvas>
                                                    </div>
                                                    <script type="text/javascript">
                                                        // LazyLoad.js([
                                                        //     "/assets/plugins/circliful/js/jquery.circliful.min.js"
                                                        // ], function () {
                                                        //     $(
                                                        //         '.progress-circle-f370df6a-9567-406f-91d2-508bac77ca50'
                                                        //     ).circliful();
                                                        // });
                                                    </script>
                                                    <h3 class="c-center c-font-bold c-font-23" style="color: rgba(0,96,169,1.00);">Decrease in estimated malaria deaths (2000-2015)</h3>
                                                    <p class="c-font-16 c-font-bold c-center" style="color: rgba(0,96,169,1.00);">
                                                        Source: World Health Organisation
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-area col-md-4">
                                            <div style="padding:70px 30px 0px 30px;">
                                                <div>
                                                    <div class="c-center">
                                                        <i class="icon-mosquito color-green c-font-48 c-left" style="color: rgba(0,96,169,1.00); opacity: 1; line-height: 48px;"></i>
                                                    </div>
                                                    <h3 class="c-center c-font-bold c-font-23" style="color: rgba(0,96,169,1.00);">1.7 million cases of malaria treated</h3>
                                                    <p class="c-font-16 c-font-bold c-center" style="color: rgba(0,96,169,1.00);">
                                                        Source: UNDP
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:30px 0px 30px 0px; background:url(/media/1028/arvs-small.png); inner-row-background:rgba(235,235,235,0.88);">
                            <div class="container">
                                <div style="background:rgba(235,235,235,0.88);">
                                    <div class="row">
                                        <div class="grid-area col-md-6">
                                            <div style="padding:24px 24px 24px 24px; background:rgba(255,255,255,0.00);">
                                                <div>
                                                    <h3 class="c-font-20 c-line-height-5 c-theme-font c-font-bold c-left title-chart">
                                                        Maternal mortality
                                                    </h3>
                                                    <p>
                                                        Source: World Health Organization
                                                    </p>
                                                    <div id="chart-d7891349-e801-405f-bc3f-80ab2bc1d23d" class="ct-chart">
                                                        <ul class="ct-legend">
                                                            <li class="ct-series-0" data-legend="0">Maternal mortality ratio per 100,000 live births</li>
                                                        </ul>
                                                        <svg xmlns:ct="//gionkunz.github.com/chartist-js/ct" width="100%" height="400px" class="ct-chart-line" style="width: 100%; height: 400px;">
                                                            <g class="ct-grids">
                                                                <line x1="50" x2="50" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="75.625" x2="75.625" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="101.25" x2="101.25" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="126.875" x2="126.875" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="152.5" x2="152.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="178.125" x2="178.125" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="203.75" x2="203.75" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="229.375" x2="229.375" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="255" x2="255" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="280.625" x2="280.625" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="306.25" x2="306.25" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="331.875" x2="331.875" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="357.5" x2="357.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="383.125" x2="383.125" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="408.75" x2="408.75" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="434.375" x2="434.375" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line y1="365" y2="365" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="330" y2="330" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="295" y2="295" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="260" y2="260" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="225" y2="225" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="190" y2="190" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="155" y2="155" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="120" y2="120" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="85" y2="85" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="50" y2="50" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                                <line y1="15" y2="15" x1="50" x2="460" class="ct-grid ct-vertical"></line>
                                                            </g>
                                                            <g>
                                                                <g class="ct-series ct-series-a">
                                                                    <path d="M50,41.6L75.625,57.7L101.25,74.15L126.875,88.85L152.5,102.85L178.125,118.25L203.75,131.2L229.375,141L255,152.9L280.625,161.65L306.25,168.65L331.875,173.9L357.5,180.9L383.125,186.85L408.75,192.45L434.375,198.05"
                                                                        class="ct-line"></path>
                                                                    <line x1="50" y1="41.60000000000002" x2="50.01" y2="41.60000000000002" class="ct-point" ct:value="924"></line>
                                                                    <line x1="75.625" y1="57.69999999999999" x2="75.635" y2="57.69999999999999" class="ct-point" ct:value="878"></line>
                                                                    <line x1="101.25" y1="74.14999999999998" x2="101.26" y2="74.14999999999998" class="ct-point" ct:value="831"></line>
                                                                    <line x1="126.875" y1="88.85000000000002" x2="126.885" y2="88.85000000000002" class="ct-point" ct:value="789"></line>
                                                                    <line x1="152.5" y1="102.85000000000002" x2="152.51" y2="102.85000000000002" class="ct-point" ct:value="749"></line>
                                                                    <line x1="178.125" y1="118.25" x2="178.135" y2="118.25" class="ct-point" ct:value="705"></line>
                                                                    <line x1="203.75" y1="131.2" x2="203.76" y2="131.2" class="ct-point" ct:value="668"></line>
                                                                    <line x1="229.375" y1="141" x2="229.385" y2="141" class="ct-point" ct:value="640"></line>
                                                                    <line x1="255" y1="152.9" x2="255.01" y2="152.9" class="ct-point" ct:value="606"></line>
                                                                    <line x1="280.625" y1="161.65" x2="280.635" y2="161.65" class="ct-point" ct:value="581"></line>
                                                                    <line x1="306.25" y1="168.65" x2="306.26" y2="168.65" class="ct-point" ct:value="561"></line>
                                                                    <line x1="331.875" y1="173.9" x2="331.885" y2="173.9" class="ct-point" ct:value="546"></line>
                                                                    <line x1="357.5" y1="180.9" x2="357.51" y2="180.9" class="ct-point" ct:value="526"></line>
                                                                    <line x1="383.125" y1="186.85" x2="383.135" y2="186.85" class="ct-point" ct:value="509"></line>
                                                                    <line x1="408.75" y1="192.45" x2="408.76" y2="192.45" class="ct-point" ct:value="493"></line>
                                                                    <line x1="434.375" y1="198.05" x2="434.385" y2="198.05" class="ct-point" ct:value="477"></line>
                                                                </g>
                                                            </g>
                                                            <g class="ct-labels">
                                                                <foreignObject style="overflow: visible;" x="50" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2000</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="75.625" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2001</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="101.25" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2002</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="126.875" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2003</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="152.5" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2004</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="178.125" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2005</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="203.75" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2006</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="229.375" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2007</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="255" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2008</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="280.625" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2009</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="306.25" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2010</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="331.875" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2011</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="357.5" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2012</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="383.125" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2013</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="408.75" y="370" width="25.625" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2014</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="434.375" y="370" width="30" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 30px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2015</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="330" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="295" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">100</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="260" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">200</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="225" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">300</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="190" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">400</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="155" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">500</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="120" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">600</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="85" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">700</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="50" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">800</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="15" x="10" height="35" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 35px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">900</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">1000</span>
                                                                </foreignObject>
                                                            </g>
                                                        </svg>
                                                    </div>

                                                    <script type="text/javascript">
                                                        // LazyLoad.js(["/assets/plugins/chartist/js/chartist.min.js",
                                                        //     "/assets/plugins/chartist-plugin-legend/chartist-plugin-legend.js"
                                                        // ], function () {
                                                        //     var isPercentage = false;

                                                        //     new Chartist.Line(
                                                        //         '#chart-d7891349-e801-405f-bc3f-80ab2bc1d23d.ct-chart', {
                                                        //             labels: ['2000', '2001', '2002', '2003',
                                                        //                 '2004', '2005', '2006', '2007',
                                                        //                 '2008', '2009', '2010', '2011',
                                                        //                 '2012', '2013', '2014', '2015'
                                                        //             ],
                                                        //             series: [
                                                        //                 [924, 878, 831, 789, 749, 705,
                                                        //                     668, 640, 606, 581, 561,
                                                        //                     546, 526, 509, 493, 477
                                                        //                 ]
                                                        //             ]
                                                        //         }, {
                                                        //             lineSmooth: false,
                                                        //             height: "400px",
                                                        //             plugins: [
                                                        //                 Chartist.plugins.legend({ //Legend for Chartist
                                                        //                     clickable: false,
                                                        //                     legendNames: [
                                                        //                         'Maternal mortality ratio per 100,000 live births'
                                                        //                     ]
                                                        //                 })
                                                        //             ],
                                                        //             axisY: {
                                                        //                 labelInterpolationFnc: function (
                                                        //                     value) {
                                                        //                     if (isPercentage) {
                                                        //                         return Math.floor(value) +
                                                        //                             "%";
                                                        //                     }
                                                        //                     return value;
                                                        //                 }
                                                        //             },
                                                        //             low: 0
                                                        //         });
                                                        // });
                                                    </script>




                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-area col-md-6">
                                            <div style="padding:24px 25px 24px 25px; background:rgba(235,235,235,0.00);">
                                                <div>






                                                    <h3 class="c-font-20 c-line-height-5 c-theme-font c-font-bold c-left title-chart">
                                                        Under-five mortality
                                                    </h3>
                                                    <p>
                                                        Source: World Health Organization
                                                    </p>


                                                    <div id="chart-5fb74dcb-cfd2-4b03-a5bf-0b11ca7a2409" class="ct-chart">
                                                        <ul class="ct-legend">
                                                            <li class="ct-series-0" data-legend="0">Under-five mortality rate per 1,000 live births</li>
                                                        </ul>
                                                        <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="400px" class="ct-chart-line" style="width: 100%; height: 400px;">
                                                            <g class="ct-grids">
                                                                <line x1="50" x2="50" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="75.5" x2="75.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="101" x2="101" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="126.5" x2="126.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="152" x2="152" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="177.5" x2="177.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="203" x2="203" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="228.5" x2="228.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="254" x2="254" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="279.5" x2="279.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="305" x2="305" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="330.5" x2="330.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="356" x2="356" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="381.5" x2="381.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="407" x2="407" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line x1="432.5" x2="432.5" y1="15" y2="365" class="ct-grid ct-horizontal"></line>
                                                                <line y1="365" y2="365" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="326.1111111111111" y2="326.1111111111111" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="287.22222222222223" y2="287.22222222222223" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="248.33333333333331" y2="248.33333333333331" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="209.44444444444446" y2="209.44444444444446" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="170.55555555555554" y2="170.55555555555554" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="131.66666666666666" y2="131.66666666666666" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="92.77777777777777" y2="92.77777777777777" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="53.888888888888914" y2="53.888888888888914" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                                <line y1="15" y2="15" x1="50" x2="458" class="ct-grid ct-vertical"></line>
                                                            </g>
                                                            <g>
                                                                <g class="ct-series ct-series-a">
                                                                    <path d="M50,27.911L75.5,31.956L101,35.689L126.5,39.578L152,43.467L177.5,47.822L203,53.111L228.5,59.489L254,66.333L279.5,73.644L305,81.111L330.5,89.2L356,97.133L381.5,105.067L407,112.689L432.5,120.933"
                                                                        class="ct-line"></path>
                                                                    <line x1="50" y1="27.911111111111097" x2="50.01" y2="27.911111111111097" class="ct-point" ct:value="216.7"></line>
                                                                    <line x1="75.5" y1="31.955555555555577" x2="75.51" y2="31.955555555555577" class="ct-point" ct:value="214.1"></line>
                                                                    <line x1="101" y1="35.68888888888887" x2="101.01" y2="35.68888888888887" class="ct-point" ct:value="211.7"></line>
                                                                    <line x1="126.5" y1="39.57777777777778" x2="126.51" y2="39.57777777777778" class="ct-point" ct:value="209.2"></line>
                                                                    <line x1="152" y1="43.46666666666664" x2="152.01" y2="43.46666666666664" class="ct-point" ct:value="206.7"></line>
                                                                    <line x1="177.5" y1="47.822222222222194" x2="177.51" y2="47.822222222222194" class="ct-point" ct:value="203.9"></line>
                                                                    <line x1="203" y1="53.111111111111086" x2="203.01" y2="53.111111111111086" class="ct-point" ct:value="200.5"></line>
                                                                    <line x1="228.5" y1="59.48888888888888" x2="228.51" y2="59.48888888888888" class="ct-point" ct:value="196.4"></line>
                                                                    <line x1="254" y1="66.33333333333331" x2="254.01" y2="66.33333333333331" class="ct-point" ct:value="192"></line>
                                                                    <line x1="279.5" y1="73.64444444444445" x2="279.51" y2="73.64444444444445" class="ct-point" ct:value="187.3"></line>
                                                                    <line x1="305" y1="81.11111111111109" x2="305.01" y2="81.11111111111109" class="ct-point" ct:value="182.5"></line>
                                                                    <line x1="330.5" y1="89.19999999999999" x2="330.51" y2="89.19999999999999" class="ct-point" ct:value="177.3"></line>
                                                                    <line x1="356" y1="97.13333333333338" x2="356.01" y2="97.13333333333338" class="ct-point" ct:value="172.2"></line>
                                                                    <line x1="381.5" y1="105.06666666666666" x2="381.51" y2="105.06666666666666" class="ct-point" ct:value="167.1"></line>
                                                                    <line x1="407" y1="112.68888888888893" x2="407.01" y2="112.68888888888893" class="ct-point" ct:value="162.2"></line>
                                                                    <line x1="432.5" y1="120.93333333333334" x2="432.51" y2="120.93333333333334" class="ct-point" ct:value="156.9"></line>
                                                                </g>
                                                            </g>
                                                            <g class="ct-labels">
                                                                <foreignObject style="overflow: visible;" x="50" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2000</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="75.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2001</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="101" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2002</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="126.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2003</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="152" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2004</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="177.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2005</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="203" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2006</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="228.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2007</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="254" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2008</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="279.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2009</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="305" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2010</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="330.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2011</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="356" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2012</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="381.5" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2013</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="407" y="370" width="25.5" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2014</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" x="432.5" y="370" width="30" height="20">
                                                                    <span class="ct-label ct-horizontal ct-end" style="width: 30px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2015</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="326.1111111111111" x="10" height="38.888888888888886" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="287.2222222222222" x="10" height="38.888888888888886" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">25</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="248.33333333333331" x="10" height="38.8888888888889" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">50</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="209.44444444444446" x="10" height="38.88888888888887" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">75</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="170.55555555555554" x="10" height="38.888888888888914" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">100</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="131.66666666666666" x="10" height="38.888888888888886" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">125</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="92.77777777777777" x="10" height="38.888888888888886" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">150</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="53.888888888888914" x="10" height="38.88888888888886" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">175</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="15" x="10" height="38.888888888888914" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 39px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">200</span>
                                                                </foreignObject>
                                                                <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30">
                                                                    <span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">225</span>
                                                                </foreignObject>
                                                            </g>
                                                        </svg>
                                                    </div>

                                                    <script type="text/javascript">
                                                        // LazyLoad.js(["/assets/plugins/chartist/js/chartist.min.js",
                                                        //     "/assets/plugins/chartist-plugin-legend/chartist-plugin-legend.js"
                                                        // ], function () {
                                                        //     var isPercentage = false;

                                                        //     new Chartist.Line(
                                                        //         '#chart-5fb74dcb-cfd2-4b03-a5bf-0b11ca7a2409.ct-chart', {
                                                        //             labels: ['2000', '2001', '2002', '2003',
                                                        //                 '2004', '2005', '2006', '2007',
                                                        //                 '2008', '2009', '2010', '2011',
                                                        //                 '2012', '2013', '2014', '2015'
                                                        //             ],
                                                        //             series: [
                                                        //                 [216.7, 214.1, 211.7, 209.2,
                                                        //                     206.7, 203.9, 200.5, 196.4,
                                                        //                     192, 187.3, 182.5, 177.3,
                                                        //                     172.2, 167.1, 162.2, 156.9
                                                        //                 ]
                                                        //             ]
                                                        //         }, {
                                                        //             lineSmooth: false,
                                                        //             height: "400px",
                                                        //             plugins: [
                                                        //                 Chartist.plugins.legend({ //Legend for Chartist
                                                        //                     clickable: false,
                                                        //                     legendNames: [
                                                        //                         'Under-five mortality rate per 1,000 live births'
                                                        //                     ]
                                                        //                 })
                                                        //             ],
                                                        //             axisY: {
                                                        //                 labelInterpolationFnc: function (
                                                        //                     value) {
                                                        //                     if (isPercentage) {
                                                        //                         return Math.floor(value) +
                                                        //                             "%";
                                                        //                     }
                                                        //                     return value;
                                                        //                 }
                                                        //             },
                                                        //             low: 0
                                                        //         });
                                                        // });
                                                    </script>




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:35px 25px 35px 25px;">
                            <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="grid-area col-md-12">
                                            <div>
                                                <div>

                                                    <p style="text-align: center;">
                                                        <span class="underline">
                                                            <strong>
                                                                <span class="contentTitle">PORTFOLIO OVERVIEW</span>
                                                            </strong>
                                                        </span>
                                                    </p>
                                                    <p style="text-align: center;">&nbsp;</p>
                                                    <table border="0" width="620" height="158" style="margin-left: auto; margin-right: auto;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="301">
                                                                    <p>
                                                                        <span class="fontSizeLarge">
                                                                            <strong>Disease Component</strong>
                                                                        </span>
                                                                    </p>
                                                                </td>
                                                                <td width="301" style="text-align: right;">
                                                                    <p>
                                                                        <span class="featuredFontColor">
                                                                            <strong>
                                                                                <span class="fontSizeLarge">HIV/AIDS</span>
                                                                            </strong>
                                                                        </span>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="301">
                                                                    <p>Grant</p>
                                                                </td>
                                                                <td width="301" style="text-align: right;">
                                                                    <p>AGO-H-UNDP</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="301">
                                                                    <p>Phase</p>
                                                                </td>
                                                                <td width="301" style="text-align: right;">
                                                                    <p>Period 1 (Jul 2016 - Jun 2018)</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="301">
                                                                    <p>Amount</p>
                                                                </td>
                                                                <td width="301" style="text-align: right;">
                                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        $29,928,778
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="301">
                                                                    <p>Rating</p>
                                                                </td>
                                                                <td width="301" style="text-align: right;">
                                                                    <p>
                                                                        <img id="__mcenew" src="/media/1040/nr.png" alt="" rel="1353" data-id="1353">
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p>&nbsp;</p>
                                                    <p style="text-align: center;">
                                                        <span class="fontSizeLarge underline">Overall Grant Rating&nbsp;</span>
                                                    </p>
                                                    <p style="text-align: center;">&nbsp;</p>
                                                    <table border="0" width="330" height="287" style="margin-left: auto; margin-right: auto;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="28">
                                                                    <p>&nbsp;
                                                                        <img id="__mcenew" src="/media/1036/a1.png" alt="" rel="1349" data-id="1349">
                                                                    </p>
                                                                </td>
                                                                <td width="217">
                                                                    <p>&nbsp; Exceeding expectations</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28">
                                                                    <p>&nbsp;
                                                                        <img id="__mcenew" src="/media/1037/a2.png" alt="" rel="1350" data-id="1350">
                                                                    </p>
                                                                </td>
                                                                <td width="217">
                                                                    <p>&nbsp; Meeting expectations</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28">
                                                                    <p>&nbsp;
                                                                        <img id="__mcenew" src="/media/1038/b1.png" alt="" rel="1351" data-id="1351">
                                                                    </p>
                                                                </td>
                                                                <td width="217">
                                                                    <p>&nbsp; Adequate</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28">
                                                                    <p>&nbsp;
                                                                        <img id="__mcenew" src="/media/1035/b2.png" alt="" rel="1348" data-id="1348">
                                                                    </p>
                                                                </td>
                                                                <td width="217">
                                                                    <p>&nbsp; Inadequate but potential demonstrated</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28">
                                                                    <p>&nbsp;
                                                                        <img id="__mcenew" src="/media/1039/c.png" alt="" rel="1352" data-id="1352">
                                                                    </p>
                                                                </td>
                                                                <td width="217">
                                                                    <p>&nbsp; Unacceptable</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28">
                                                                    <p>&nbsp;
                                                                        <img id="__mcenew" src="/media/1040/nr.png" alt="" rel="1353" data-id="1353">
                                                                    </p>
                                                                </td>
                                                                <td width="217">
                                                                    <p>&nbsp; No rating available</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="container-fluid">
                        <div class="bs-callout bs-callout-info">
                            <h4>Key Resources</h4>
                            <p></p>
                            <ul>
                                <li>
                                    <a data-id="1670" href="/media/1111/undp-global-fund-impact-indicator-definitions.xlsx" title="UNDP-Global Fund impact indicator definitions">Indicator definitions and links to sources (Excel download)</a>
                                </li>
                                <li>
                                    <a href="http://www.ao.undp.org/content/angola/en/home/operations/projects/poverty_reduction/hiv-angola.html" target="_blank">UNDP Angola HIV project webpage</a>
                                </li>
                                <li>
                                    <a href="http://open.undp.org/#2016/filter/operating_unit-AGO" target="_blank">UNDP open data for Angola</a>
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>