
<div class="container">
        <div class="row">
            {% if include.maintitle %}
            <div class="col-sm-12">
                <h2 class="keyresults-heading">{{ include.maintitle }}</h2>
            </div>
            {% endif %}
            {% if include.title1 %}
                {% if include.title2 %}
                    <div class="col-sm-12 col-md-6 results-country-graphs margintop">
                        <h3>{{ include.title1 }}</h3>
                        <canvas id="country-chart-a"
                            width="500"
                            height="300"
                            data-type="{{ include.type1 }}"
                            data-label="{{ include.label1 }}"
                            data-labels="{{ include.datalabels1 }}"
                            data-points="{{ include.datapoints1 }}"
                            data-labelb="{{ include.label1b }}"
                            data-labelsb="{{ include.datalabels1b }}"
                            data-pointsb="{{ include.datapoints1b }}"
                            data-labelc="{{ include.label1c }}"
                            data-labelsc="{{ include.datalabels1c }}"
                            data-pointsc="{{ include.datapoints1c }}"
                            data-yvalue="{{ include.yvalue }}"
                            data-yvalueb="{{ include.yvalue1b }}">
                        </canvas>
                        <p>Source: {{ include.source1 }}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 results-country-graphs margintop">
                        <h3>{{ include.title2 }}</h3>
                        <canvas id="country-chart-b"
                            width="500"
                            height="300"
                            data-type="{{ include.type2 }}"
                            data-label="{{ include.label2 }}"
                            data-labels="{{ include.datalabels2 }}"
                            data-points="{{ include.datapoints2 }}"
                            data-labelb="{{ include.label2b }}"
                            data-labelsb="{{ include.datalabels2b }}"
                            data-pointsb="{{ include.datapoints2b }}"
                            data-labelc="{{ include.label1c }}"
                            data-labelsc="{{ include.datalabels1c }}"
                            data-pointsc="{{ include.datapoints1c }}">
                        </canvas>
                        <p>Source: {{ include.source2 }}</p>
                    </div>
                {% else %}
                    <div class="col-sm-12 col-md-12 results-country-graphs">
                        <h4>{{ include.title1 }}</h4>
                        {% if include.large1 %}
                        <canvas id="country-chart-a"
                            width="500"
                            height="500"
                            data-type="{{ include.type1 }}"
                            data-label="{{ include.label1 }}"
                            data-labels="{{ include.datalabels1 }}"
                            data-points="{{ include.datapoints1 }}"
                            data-labelb="{{ include.label1b }}"
                            data-labelsb="{{ include.datalabels1b }}"
                            data-pointsb="{{ include.datapoints1b }}"
                            data-labelc="{{ include.label1c }}"
                            data-labelsc="{{ include.datalabels1c }}"
                            data-pointsc="{{ include.datapoints1c }}"
                            data-yvalue="{{ include.yvalue }}"
                            data-yvalueb="{{ include.yvalue1b }}">
                        </canvas>
                        {% else %}
                        <canvas id="country-chart-a"
                            width="500"
                            height="300"
                            data-type="{{ include.type1 }}"
                            data-label="{{ include.label1 }}"
                            data-labels="{{ include.datalabels1 }}"
                            data-points="{{ include.datapoints1 }}"
                            data-labelb="{{ include.label1b }}"
                            data-labelsb="{{ include.datalabels1b }}"
                            data-pointsb="{{ include.datapoints1b }}"
                            data-labelc="{{ include.label1c }}"
                            data-labelsc="{{ include.datalabels1c }}"
                            data-pointsc="{{ include.datapoints1c }}"
                            data-yvalue="{{ include.yvalue }}"
                            data-yvalueb="{{ include.yvalue1b }}">
                        </canvas>
                        {% endif %}
                        <p>Source: {{ include.source1 }}</p>
                    </div>
                {% endif %}
            {% endif %}
            {% if include.title3 %}
                {% if include.title4 %}
                    <div class="col-sm-12 col-md-6 results-country-graphs margintop">
                        <h3>{{ include.title3 }}</h3>
                        <canvas id="country-chart-c"
                            width="500"
                            height="300"
                            data-type="{{ include.type3 }}"
                            data-label="{{ include.label3 }}"
                            data-labels="{{ include.datalabels3 }}"
                            data-points="{{ include.datapoints3 }}"
                            data-labelb="{{ include.labe31b }}"
                            data-labelsb="{{ include.datalabels3b }}"
                            data-pointsb="{{ include.datapoints3b }}">
                        </canvas>
                        <p>Source: {{ include.source3 }}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 results-country-graphs margintop">
                        <h3>{{ include.title4 }}</h3>
                        <canvas id="country-chart-d"
                            width="500"
                            height="300"
                            data-type="{{ include.type4 }}"
                            data-label="{{ include.label4 }}"
                            data-labels="{{ include.datalabels4 }}"
                            data-points="{{ include.datapoints4 }}"
                            data-labelb="{{ include.label4b }}"
                            data-labelsb="{{ include.datalabels4b }}"
                            data-pointsb="{{ include.datapoints4b }}">
                        </canvas>
                        <p>Source: {{ include.source4 }}</p>
                    </div>
                {% else %}
                    <div class="col-sm-12 col-md-12 results-country-graphs">
                        <h4>{{ include.title3 }}</h4>
                        {% if include.large3 %}
                        <canvas id="country-chart-c"
                            width="500"
                            height="500"
                            data-type="{{ include.type3 }}"
                            data-label="{{ include.label3 }}"
                            data-labels="{{ include.datalabels3 }}"
                            data-points="{{ include.datapoints3 }}"
                            data-labelb="{{ include.label3b }}"
                            data-labelsb="{{ include.datalabels3b }}"
                            data-pointsb="{{ include.datapoints3b }}"
                            data-color="{{ include.color3 }}">
                        </canvas>
                        {% else %}
                        <canvas id="country-chart-c"
                            width="500"
                            height="300"
                            data-type="{{ include.type3 }}"
                            data-label="{{ include.label3 }}"
                            data-labels="{{ include.datalabels3 }}"
                            data-points="{{ include.datapoints3 }}"
                            data-labelb="{{ include.label3b }}"
                            data-labelsb="{{ include.datalabels3b }}"
                            data-pointsb="{{ include.datapoints3b }}"
                            data-color="{{ include.color3 }}">
                        </canvas>
                        {% endif %}
                        <p>Source: {{ include.source3 }}</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>