<div class="row sub-maincontent text-center">
    <div class="col-md-4">
        <div>
            <i class="fas fa-heart"></i>
            <h3>3.1 million lives saved</h3>
        </div>
    </div>
    <div class="col-md-8">
        <p>
            <span>The results presented below are those achieved through&nbsp;UNDP managed Global Fund grants in partnership
                with national governments and civil society up until June 2017</span>. UNDP’s Global Fund portfolio
            has saved 3.1 million lives
            <span> through country programmes for HIV, tuberculosis and malaria.</span>
            <span>Global results include activity over the lifetime of the partnership, but only countries with active
                programmes are included in the map and table below.</span>&nbsp;
            <br>
        </p>
    </div>
</div>
<div class="row">
    <div class="grid-area col-md-12">
        <div>
            <div>
                <div id="viz1513858026845" class="tableauPlaceholder" style="position: relative; width: 1120px; height: 1187px; overflow: hidden; display: block;">
                    <script src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>
                    <iframe frameborder="0" marginheight="0" marginwidth="0" title="data visualization" allowtransparency="true" allowfullscreen="true"
                        class="tableauViz" style="display: block; width: 1120px; height: 1187px; margin: 0px; padding: 0px; border: none;"
                        src="http://public.tableau.com/views/UNDP-GlobalFundHarmonizedResultsmid-2017/Dashboard2?:embed=y&amp;:showVizHome=no&amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;:embed_code_version=3&amp;:tabs=no&amp;:toolbar=no&amp;:animate_transition=yes&amp;:display_static_image=no&amp;:display_spinner=no&amp;:display_overlay=yes&amp;:display_count=yes&amp;publish=yes&amp;:loadOrderID=0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
