<div class="readmore-container">
    {% if include.type == 'guidance' %}
    <h2 class="guidance-title">Guidance</h2>    
    {% else %}
        {% if include.title %}
        <h3 class="hasdone-title">
            {{ include.title }}
            {% if include.goto %}
                <a href="{{ include.goto }}" target="_blank">
                    Go to website
                </a>
            {% endif %}
        </h3>
        {% endif %}
    {% endif %}
    <div class="section-toggle-container content-block">
        <div class="left-block">
            {{ include.intro }}
        </div>
        {% if include.intro %}
        <div class="right-block">
            <span class="section-more-link blue-button big-blue">Show more</span>
            <span class="section-less-link blue-button big-blue">Show less</span>
        </div>
        <div class="section-more-toggle toggle-content">
            {% if include.innotext %}
                {% include innobox.html
                    title=include.innotitle
                    text=include.innotext
                    link=include.innolink
                %}
            {% endif %}
            {{ include.full }}
        </div>
        {% else %}
        <div class="">
            {% if include.innotext %}
                {% include innobox.html
                    title=include.innotitle
                    text=include.innotext
                    link=include.innolink
                %}
            {% endif %}
            {{ include.full }}
        </div>
        {% endif %}            
    </div>
</div>
