<div class="para-toggle-container blue-fade-box">
    <h2>{{ include.title }}</h2>
    <div class="para-more-container bluef-fade-more">
        <div class="blue-fade-intro">{{ include.para1 }}</div>
        {% if include.para2 %}
        <span class="para-more-link blue-fade-more-link">Show more</span>
        <div class="para-more-toggle blue-fade-more-toggle">
            {{ include.para2 }}
            {% if include.list %}
                <span class="hidden-list">{{ include.list }}</span>
                <ol class="visible-list"><li></li></ol>
            {% endif %}
        </div>
        <span class="para-less-link blue-fade-less-link">Show less</span>
        {% endif %}
    </div>
</div>