{% if include.imgthumb %}
    <li class="imgholder-li{%if include.fullwidth %} fullwidth{% endif %}">
        <div class="guidance-imageholder{%if include.bordertop %} bordertop{% endif %}">
            <a class="preview" target="_blank" data-image="{{ include.imglarge }}" href="{{ include.link }}">
                <img src="{{ include.imgthumb }}" />
            </a>
            <div class="guidance-link-holder imgthumb">
                <a target="_blank" class="linkholder-link" href="{{ include.link }}">{{ include.linktitle }}</a>
                <span class="reference">{{ include.reference }}</span>
                <div class="badge-holder imgthumb">
                    <a href="{{ include.link }}" target="_blank">
                        <span class="badge badge-info file">{{ include.type }}</span>
                    </a>
                    {% if include.filesize %}
                    <span class="badge badge-info skyblue">{{ include.filesize }}</span>
                    {% endif %}
                    {% if include.linkother %}
                    <a href="{{ include.linkother }}" target="_blank">
                        <span class="badge badge-info otherbadge">{{ include.titleother }}</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
{% else %}
    <li>
        <div class="badge-holder">
            <span class="badge badge-info file">{{ include.type }}</span>
        </div>
        <div class="guidance-link-holder">
            <a target="_blank" class="linkholder-link" href="{{ include.link }}">{{ include.linktitle }}</a>
            <span>{{ include.reference }}</span>
        </div>    
    </li> 
{% endif %}
