<div class="youtube-embed{% if include.reverse %} youtube-reverse{% endif %}">
    <div class="youtube-title{% if include.titlesmall %} small-youtube-title{% endif %}">
        {{ include.title }}
    </div>
    <div class="youtube-iframe">
        <iframe width="560" height="315" src="{{ include.link }}" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <p>{{ include.description }}</p>
</div>