<!DOCTYPE html>
{% unless page.sections.impacthighlight %}
<html>
{% else %}
<html class="impacthighlight-html" id="impacthighlight-html"
  style="background-image: url({{ page.sections.impactbackground }})">
{% endunless %}

{% include head.html %}

<body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF2LRJ6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div style="display: none;" data-netlify-identity-menu></div>

  <!-- Add a simpler button:
    Simple button that will open the modal.
  -->
  <div style="display: none;" data-netlify-identity-button>Login with Netlify Identity</div>

  {% unless page.sections.impacthighlight %}
  {% include header.html %}
  <div class="page-content">
    {{ content }}
  </div>
  {% else %}
  <div class="impactstory-content">
    {{ content }}
  </div>
  {% endunless %}

  {% include footer.html %}

  <!-- <script src="{{ '/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>

  <script src="{{ '/js/lazyload.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/js/bootstrap-lightbox.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>

  <script src="{{ '/js/Chart.bundle.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/chartjs-plugin-datalabels.min.js' | prepend: site.baseurl }}"></script>

  {% if page.pagetype == 'story' %}
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <script src="/js/storyutil.js"></script>
  <script src="/js/story.js"></script>

  <!-- Note: Only needed for demo purposes. Delete for production sites. -->
  <script src="/js/demo.js"></script>
  {% endif %}

  <!-- vue spinner -->
  <link rel="proload" href="https://cdn.jsdelivr.net/npm/simple-xgrid@1.2.2/dist/simple-grid.noextra.js" as="script">
  <link rel="proload" href="https://cdn.jsdelivr.net/npm/tb-skeleton@0.3.0/dist/tb-skeleton.js" as="script">

  <script src="{{ '/js/custom.js' | prepend: site.baseurl }}"></script>

  <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ae21111e9de9205"></script> -->
</body>

</html>