---
layout: default
---


<div id="wrapper" class="storypage divided">

    <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
            <h1>Innovations in Health Systems</h1>
            <p class="major">From Solar for Health to mobile application for vaccine stock management.</p>
            <p>
                The world of global development is in transformation. This changing landscape calls for a major rethink of how development
                is done. As outlined in our new Strategic Plan, UNDP is focused on delivering creative responses to the new
                and emerging needs of our Member States, sister UN agencies and other partners.
            </p>
        </div>
        <div class="image">
            <img src="/images/stories/story1/diagnosing-malaria.jpg" alt="" />
        </div>
    </section>

    <!-- Spotlight -->
    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
        <div class="content">
            <h2>Strengthening vaccine supply chain in India</h2>
            <p>
                The same technology that allows us to keep in touch with our friends is also touching lives in the development sphere. Mobile
                phone technology is being put to use in everything from agriculture to health and crisis response.
            </p>
            <p>
                In India, health workers are using a mobile application called eVIN to keep track of vaccine stocks across the country. The
                smart, easy-to-use app is key to achieving the country’s ambitious goal to immunize 156 million women and
                children every year.
            </p>
            <ul class="actions vertical">
                <li>
                    <a href="/en/capacities/focus/electronic-vaccine-intelligence-network/" class="button">Learn More</a>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="/images/stories/story1/evin_cover_2018_undp_in.jpg" alt="" />
        </div>
    </section>

    <!-- Spotlight -->
    <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
            <h2>Solar for Health</h2>
            <p>
                Health facilities need power. Clinics, maternity wards, operating rooms, medical warehouses, and laboratories rely on electricity
                to power the lights, refrigerate vaccines, and operate life-saving medical devices.
            </p>
            <p>
                UNDP’s Solar for Health initiative supports governments to increase access to quality health services through the installation
                of solar energy photo-voltaic systems (PV), ensuring constant and cost-eﬀective access to electricity, while
                also mitigating the impact of climate change and advancing multiple Sustainable Development Goals.
            </p>
            <ul class="actions vertical">
                <li>
                    <a href="/en/capacities/focus/solar-for-health/" class="button">Learn More</a>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="/images/stories/story1/solar-desert.jpg" alt="" />
        </div>
    </section>

    <!-- Spotlight -->
    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
            <h2>Innovation Underpinning Sustainability</h2>
            <p>
                UNDP uses innovation to create social value in health where it can help save lives and lower costs. For example by working
                with generic pharmaceutical companies to comply with environmental safeguards and international standards
                in the manufacturing of TLE a combination antiretroviral (ARV) medicine. this allows the patients to take
                one pill a day, reduces the cost per patient to $75 a year, enabling the savings to be reinvested solar
                powered clinics which allows more patients to be counselled, tested and where necessary to have access to
                treatment.
            </p>
            <ul class="actions vertical">
                <li>
                    <a href="/en/capacities/focus/procurement-and-supply-chain-management/case-studies/psm-zimbabwe/" class="button">Learn More</a>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="/images/stories/story1/pharmacist.jpg" alt="" />
        </div>
    </section>

    <!-- Spotlight -->
    <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
            <h2>Sustainable Procurement for Health</h2>
            <p>
                    UNDP is taking a practical approach for the implementation of sustainability initiatives e.g. reducing transport emissions
                    and packaging waste. By switching delivery of pharmaceuticals to sea shipment from air freight,
                    associated CO2 emissions have been reduced significantly. 
            </p>
            <p>
                    UNDP in partnership with its freight forwarders,
                    data and analytics for CO2 emissions are collected on a quarterly basis, enabling optimization
                    for sustainability.            
            </p>
            <ul class="actions vertical">
                <li>
                    <a href="/en/capacities/focus/procurement-and-supply-chain-management/" class="button">Learn More</a>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="/images/sections/focus/psm/ukraine-reception-of-medicines-with-dataloggers.jpg" alt="" />
        </div>
    </section>

    {% if null %}
    <!-- Items -->
    <section class="wrapper2 style1 align-center">
        <div class="inner">
            <h2>Innovative Technologies to strengthen systems for health</h2>
            <p>
                Utilizing innovative technologies is central to UNDP’s approach to support resilient and sustainable systems for health.
                These include; digitizing the last mile of the vaccine supply chain eVIN in India; real time public financial
                management in Zimbabwe; collection and reporting data from district using mobile technologies; developing
                ‘green health services’ to help governments minimize environmental impact through environmentally-sensitive
                health procurement; supporting countries to harness the use of solar power in health facilities to strengthen
                the sustainable, climate-resilient delivery of essential services; and developing online support platforms
                for health programmes strengthening that can be accessed by stakeholders globally.
            </p>
        </div>
    </section>
    
    <section class="wrapper2 style1 align-center">
        <div class="inner">
            <div class="index align-left">
                <section>
                    <div class="content">
                        
                        <span class="image fit">
                            <img src="/images/stories/story1/local-health-clinic.jpg" alt="">
                        </span>

                        <h3>Service Delivery – People / Processes and Technology</h3>
                        <p>
                            UNDP support in implementing eVIN goes beyond just the technology in addressing the three ingredients critical to any successful
                            service delivery transformation: people, processes and technology. At the forefront of India’s
                            immunization efforts are thousands of cold chain health workers. The current scaling up of accessing
                            the mobile technologies is accompanied by a comprehensive capacity development programme including,
                            training, user manuals, on line videos, help lines and mentoring.
                        </p>

                        <h3>Digitizing the last-mile</h3>
                        <p>
                            <span class="image left">
                                <img src="/images/stories/story1/NGO-working-with-hiv.jpg" alt="">
                            </span>
                            Robust technological solutions are required in low-resource health environments. In 2015, India launched eVIN, or electronic
                            vaccine intelligence network, an easy to use mobile and cloud-based technology that enables last
                            mile management of supply chain. The project, run in partnership with Gavi the Vaccine Alliance,
                            the Indian Ministry of Health and Family Welfare and Logistimo (technical partner) has digitised
                            the supply chain for vaccine distribution across 10,000 vaccine cold chain points, in 371 districts
                            of 12 states of India, meeting the needs of their ambitious vaccination programme. It enables
                            cold chain handlers to update information on vaccine stocks after every immunization session
                            using mobile technologies. These updates are stored on a cloud server that provides dashboards
                            for health officials real-time data of vaccine stocks and flows. It helps reduce stock outs and
                            wastage, uses GPS tracking at all levels to improve transparency and performance, as well as
                            empowering health workers.
                        </p>
                    </div>
                    <div class="addthis_inline_share_toolbox"></div>
                </section>
                <section class="wrapper2 style1 align-center">
                    <div class="inner">
                        <h2>Other stories</h2>
                        <p>
                            Find all stories of UNDP Capacity Development for Resilient and Sustainable Systems for Health.
                        </p>
                        <div class="items style1 medium onscroll-fade-in">
                            <section>
                                <div class="inner">
                                    <span class="icon style2 major fa-diamond"></span>
                                    <h3>HIV results</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget
                                        orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
                                    <ul class="actions vertical">
                                        <li>
                                            <a href="#" class="button">Learn More</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="inner">
                                    <span class="icon style2 major fa-save"></span>
                                    <h3>Procurement innovations</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget
                                        orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
                                    <ul class="actions vertical">
                                        <li>
                                            <a href="#" class="button">Learn More</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="inner">
                                    <span class="icon style2 major fa-bar-chart"></span>
                                    <h3>Solar panels for rural clinics</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget
                                        orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
                                    <ul class="actions vertical">
                                        <li>
                                            <a href="#" class="button">Learn More</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="inner">
                                    <span class="icon style2 major fa-diamond"></span>
                                    <h3>HIV results</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget
                                        orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
                                    <ul class="actions vertical">
                                        <li>
                                            <a href="#" class="button">Learn More</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="inner">
                                    <span class="icon style2 major fa-save"></span>
                                    <h3>Procurement innovations</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget
                                        orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
                                    <ul class="actions vertical">
                                        <li>
                                            <a href="#" class="button">Learn More</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="inner">
                                    <span class="icon style2 major fa-bar-chart"></span>
                                    <h3>Solar panels for rural clinics</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget
                                        orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
                                    <ul class="actions vertical">
                                        <li>
                                            <a href="#" class="button">Learn More</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    {% endif %}

</div>