---
layout: default
---

<div class="subpage results-section">
    <div class="container-fluid container-nopadding">
        <div class="row">
            <div class="col-sm-12 breadcrumb-holder">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            {% include breadcrumbs.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 results-title">
                <h1>
                    {{ page.subtitle }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row sub-maincontent version2">
            {% if include.vertmenu %}
            <div class="col-xs-12 col-md-3 sub-navblock">
                {% include subpage-nav.html root="/" %}

                {% include subpage-resources.html %}
            </div>

            <div class="col-xs-12 col-md-9 sub-contentblock">
            {% else %}
            <div class="col-xs-12 col-md-12 sub-contentblock{% unless page.sections.smalltext %} longintro{% endunless %}">
            {% endif %}
                <div class="row">
                    <div class="col-sm-12 results-country-summary version2">
                        {% if page.sections.secondaryimage %}
                        <div class="row country-secondaryimage">
                            <div class="col-sm-12 col-md-3 thumbnail">
                                <img src="/images/sections/results/{{ page.sections.secondaryimage }}" class="img-fluid">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="summary-content medium-content">
                                    <h3>{{ page.sections.toptitle }}</h3>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 thumbnail">
                                <a href="/images/sections/results/{{ page.sections.imglarge }}" data-toggle="lightbox" data-footer="{{ page.sections.toptitle }}">
                                    <img src="/images/sections/results/{{ page.sections.imgthumb }}" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="summary-content {% if page.sections.toptitlelarge %}large-content{% endif %}">
                                    <h3>{{ page.sections.toptitle }}</h3>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 thumbnail">
                                <a href="/images/sections/results/{{ page.sections.imglarge }}" data-toggle="lightbox" data-footer="{{ page.sections.toptitle }}">
                                    <img src="/images/sections/results/{{ page.sections.imgthumb }}" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{ content }}
    </div>
</div>