---
layout: default
---

<div class="subpage">
  {% if null %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 breadcrumb-holder">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              {% include breadcrumbs.html %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 subpage-title">
        <h1>{{ page.subtitle }}</h1>
        {% if page.subsubtitle %}
        <h2>{{ page.subsubtitle }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row sub-maincontent">
      <div class="col-xs-12 col-md-3 sub-navblock functional-areas">
        <ul>
          {% assign navroot = '/functional-areas' %}
          {% include subpage-nav.html root=navroot %}
        </ul>

        {% include subpage-resources.html %}
      </div>

      <div class="col-xs-12 col-md-9 sub-contentblock">
        <div class="row">
          <div class="col-md-12">
            <div>
              <div>
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>