---
layout: default
---

<div class="subpage">
    {% if null %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 breadcrumb-holder">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            {% include breadcrumbs.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 subpage-title">
                <h1>{{ page.subtitle }}</h1>
                {% if page.subsubtitle %}
                <h2>{{ page.subsubtitle }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
        <div class="row sub-maincontent">
            {% if page.nonav %}
            <div class="col-xs-12 col-md-12 sub-contentblock">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div>
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xs-12 col-md-4 col-lg-3 sub-navblock">
                <ul>
                    {% if page.partnership %}
                    {% include subpage-nav.html root='/the-partnership/' %}
                    {% else %}
                    {% include subpage-nav.html root='/functional-areas/' %}
                    {% endif %}
                </ul>

                {% include subpage-resources.html %}
            </div>

            <div class="col-xs-12 col-md-8 col-lg-9 sub-contentblock">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div>
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% unless recs %}
<div class="loading-subrec">
    <h2>Loading resources</h2>
    <img src="/images/spinner.gif" />
</div>
{% endunless %}