---
layout: default
---

<div class="subpage results-section">
    <div class="container-fluid container-nopadding">
        <div class="row">
            <div class="col-sm-12 breadcrumb-holder" style="background-image: url(/images/bgs/bg-99.jpg);">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            {% include breadcrumbs.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row sub-maincontent version2">
            <div class="col-xs-12 col-md-3 sub-navblock">
                {% include subpage-nav.html root="/" %}

                {% include subpage-resources.html %}
            </div>

            <div class="col-xs-12 col-md-9 sub-contentblock">
                <div class="row">
                    <div class="col-sm-12 results-country-summary version2">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>
                                    {{ page.menutitle }} - Results
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="summary-content summarybg">
                                    <h3>{{ page.sections.title1 }}</h3>
                                    <div id="page-wrap">
                                        <div>
                                            <p>{{ page.sections.para1 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-content">
                                    <h3>{{ page.sections.title2 }}</h3>
                                    <div id="page-wrap">
                                        <div>
                                            <p>{{ page.sections.para2 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <a href="/images/sections/critical-enablers/Uploading-patient-files-large.jpg" data-toggle="lightbox" data-footer="Angola">
                                    <img src="/images/sections/critical-enablers/Uploading-patient-files-thumb.jpg" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{ content }}
    </div>
</div>