---
layout: default
---

<div class="subpage results-section">
    {% unless page.sections.impacthighlight %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 breadcrumb-holder">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            {% include breadcrumbs.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 subpage-title">
                <h1>
                    {{ page.subtitle }}
                </h1>
            </div>
        </div>
    </div>
    {% endunless %}
    {% unless page.sections.notopsection %}
    <div class="container">
        <div class="row sub-maincontent">
            <div class="col-xs-12 col-md-3 sub-navblock">
                {% include subpage-nav.html root="/" %}

                {% include subpage-resources.html %}
            </div>
            <div class="col-xs-12 col-md-9 sub-contentblock">
                <div class="row">
                    <div class="col-sm-12 results-summary">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>
                                    {{ page.sections.title }}
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            {% if page.sections.para2 %}
                            {% if page.sections.mainresult %}
                            <div class="col-sm-12 col-md-8">
                            {% else %}
                            <div class="col-sm-12 col-md-6">
                            {% endif %}
                                <div class="results-summary results-main">
                                    <div id="page-wrap">
                                        <div>
                                            <p>
                                                {{ page.sections.para1 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if page.sections.mainresult %}
                                <div class="col-sm-12 col-md-4">
                                    <a href="/images/stories/story1/local-health-clinic.jpg" data-toggle="lightbox" data-footer="Results image">
                                        <img src="/images/stories/story1/local-health-clinic-vert.jpg" class="img-fluid img-frame">
                                    </a>
                                </div>
                            {% else %}
                                <div class="col-sm-12 col-md-6">
                                    <div class="lives-saved">
                                        <i class="icon-hearts color-red"></i>
                                        <h3>{{ page.sections.para2 }}</h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% else %}
                            <div class="col-sm-12">
                                <div class="results-summary{% if page.sections.largetext %} largetext{% endif %}">
                                    <div id="page-wrap">
                                        <div>
                                            <p>
                                                {{ page.sections.para1 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endunless %}
    {% if page.sections.impacthighlight %}
    <div class="container-fluid impact-highlights-cont h-100">
        {{ content }}
    </div>    
    {% else %}
    <div class="container-fluid">
        {{ content }}
    </div>
    {% endif %}
</div>